{% extends 'base.html'  %}


{% block header  %}

{% endblock %}


{% block content  %}


<div style="margin-top:100px;" class="container">


<div class="row" >    

   <div class="col-lg-12">

    <h1>Ваши оплаченные тарифы</h1>                

	<table  class="table table-bordered table-striped table-hover" >


		<tr>
		     <th>Тариф</th>   
		     <th>Cрок дейтвия</th>  
		</tr>

        {% for OrdersLog in my_tariffs_orders  %}         
			<tr>       
	          
				<td>{{ OrdersLog.get_name_tariff_type }}</td>
				<td>{{ OrdersLog.date_time_to }}</td> 

			</tr>  

		{% endfor %}        



	</table>    



</div>


</div>


<style type="text/css">

.menu_blog > li > a:hover,
.menu_blog> li > a:focus {
  text-decoration: none;
  background-color: #48B2BE;
  color:#FFFFFF;
}

body {

	background-color:#767070;
}

a,h1,h3,h3,h4 {  color:#FFFFFF;  }



</style>


{% endblock %}
