{% extends 'base.html'  %}


{% block header  %}

{% endblock %}


{% block content  %}


<div style="margin-top:100px;" class="container-fluid">


	<div class="row-feed">


		<div class="col-lg-12"> 

			<div  style="border:solid #47BCC5 1px;margin-left:20px;vertical-align:center; padding:5px 5px;" >
				<h4 style="" >Оплата услуг базы недвижимости &#171;Собственник&#187; производится через систему ROBOKASSA - сервис, позволяющий осуществить платежи множеством способов, используя защищенное соединение, которое гарантирует конфиденциальность данных. </h4>
			</div>

		</div>


	</div>

</div>

<div class="container" >




	<div   class="row">

		<div style="margin-top: 20px;" class="col-lg-3">


			<ul class="nav nav-bar menu_blog">



				<li style="border:solid #47BCC5 1px; margin-bottom: 20px;">
					<a style="text-align:center;padding:1px 1px;" href="/tariffs/list/" ><h3>Купить тариф</h3></a>
				</li>

				<li style="border:solid #47BCC5 1px; margin-bottom: 20px;">     
                    <a style="text-align:center;padding:1px 1px;" href="/tariffs/descriptions/" ><h3>О тарифах</h3></a>
                </li> 



				<li style="border:solid #47BCC5 1px; margin-bottom: 20px;">
					<a style="text-align:center;padding:1px 1px;" href="/tariffs/paymentmethods/" ><h3>Способы оплаты</h3></a>
				</li>


				<li style="border:solid #47BCC5 1px; margin-bottom: 20px;">  
					<a style="text-align:center;padding:1px 1px;" href="/tariffs/shareslist/" ><h3>Акции и предложения</h3></a>
				</li>


			</ul>

		</div>


		<div  class="col-lg-8" >  

		{% for shares in shares_list %}   

		    <h2 style="color: #fff;" >{{ shares.title }}</h2>     

		    {% autoescape off %} {{ shares.descriptions }}  {% endautoescape %} 

		    <h5 style="color: #fff;" >Акция действует  до  {{ shares.date_time_to }}</h5>  

		{% endfor %}        

        </div>        




	</div>

</div>



<style type="text/css">

.menu_blog > li > a:hover,
.menu_blog> li > a:focus {
	text-decoration: none;
	background-color: #48B2BE;
	color:#FFFFFF;
}

body {

	background-color:#767070;
}

a,h1,h3,h3,h4 {  color:#FFFFFF;  }



</style>

<script type="text/javascript">

$(document).ready(function(){


	$('#no_group1').on('click',function(e){

		var b_group1 = $('.group1').filter('input:checked')[0];

		if(b_group1){ b_group1.checked=false;  return false;  }

	});


	$('#no_group2').on('click',function(e){

		var b_group1 = $('.group2').filter('input:checked')[0];

		if(b_group1){ b_group1.checked=false;  return false;  }

	});

	$('#no_group3').on('click',function(e){

		var b_group1 = $('.group3').filter('input:checked')[0];

		if(b_group1){ b_group1.checked=false;  return false;  }

	});


	$('#no_group4').on('click',function(e){

		var b_group1 = $('.group4').filter('input:checked')[0];

		if(b_group1){ b_group1.checked=false;  return false;  }

	});

	$('#no_group5').on('click',function(e){

		var b_group1 = $('.group5').filter('input:checked')[0];

		if(b_group1){ b_group1.checked=false;  return false;  }

	});




});



</script>
<script type="text/javascript">
jQuery(document).ready(function(){
	jQuery("table").first().find("th").each(function(key, val){
		var width = jQuery(val).width()
		jQuery("table").each(function(){
			jQuery(this).find('th').eq(key).width(width)
		})
	})
})
</script>



{% endblock  %}
