{% extends 'base.html'  %}


{% block header  %}

{% endblock %}


{% block content  %}


<div style="margin-top:100px;" class="container-fluid">


	<div class="row-feed">


		<div class="col-lg-12">

			<div  style="border:solid #47BCC5 1px;margin-left:20px;vertical-align:center; padding:5px 5px;" >
				<h4 style="" >Оплата услуг базы недвижимости &#171;Собственник&#187; производится через систему ROBOKASSA - сервис, позволяющий осуществить платежи множеством способов, используя защищенное соединение, которое гарантирует конфиденциальность данных. </h4>
			</div>

		</div>


	</div>

</div>

<div class="container" >




	<div   class="row">

		<div style="margin-top: 20px;" class="col-lg-3">  


			<ul class="nav nav-bar menu_blog">



				<li style="border:solid #47BCC5 1px; margin-bottom: 20px;">
					<a style="text-align:center;padding:1px 1px;" href="/tariffs/list/" ><h3>Купить тариф</h3></a>
				</li>

				<li style="border:solid #47BCC5 1px; margin-bottom: 20px;">   
                    <a style="text-align:center;padding:1px 1px;" href="/tariffs/descriptions/" ><h3>О тарифах</h3></a>
                </li> 



				<li style="border:solid #47BCC5 1px; margin-bottom: 20px;">
					<a style="text-align:center;padding:1px 1px;" href="/tariffs/paymentmethods/" ><h3>Способы оплаты</h3></a>  
				</li>


				<li style="border:solid #47BCC5 1px; margin-bottom: 20px;">  
				    <a style="text-align:center;padding:1px 1px;" href="/tariffs/shareslist/" ><h3>Акции и предложения</h3></a>
				</li>  


			</ul>

		</div>


		<div  class="col-lg-8" >


			<div  style="padding:1px 5px;margin-bottom:10px;vertical-align:center;" >
				<h3  style="font-weight: bold;" >Тариф Аренда жилой
					<!-- <a  href="#" id="no_group1" class="btn btn-default" >Отмена</a> -->
				</h3>

				<form method="GET"  action="/tariffs/set/" >



					<table class="table table-bordered table-striped table-hover">



						<tr>
							<th> Выбрать </th>
							<th>Срок действия</th>
							<th>Цена</th>  
							<th>Акции</th>
						</tr>

						<tbody>

							{% for  rental_of_property in Rental_of_property %}

							<tr>
								<td><input  class="group1" type="radio" name="rental_of_property" value="{{ rental_of_property.pk }}" ></td>

								<td>{{ rental_of_property.get_name_validity_date }}</td>
								<td>{{ rental_of_property.price }} руб.</td>

								<td>

									{% if rental_of_property.shares.is_active %}
									<a class="btn btn-success btn-xs"  href="/tariffs/shareslist/">{{ rental_of_property.shares }}</a><br>
									скидка - {{ rental_of_property.shares.discount }}%
									{% else  %}
									-------------
									{% endif  %}  

								</td>
							</tr>

							{% endfor %}
							<tr>
							  <td  colspan="4" > 
							   Для отмены выбранного пункта нажмите сюда 
							  <a  href="#" id="no_group1" class="btn btn-danger btn-xs" >Отмена</a>    
							</td>
							</tr>

						</tbody>


					</table>

					<h3  style="font-weight: bold;" >Тариф Продажа жилой
					</h3>


					<table class="table table-bordered table-striped table-hover" >

						<tr>
                            <th> Выбрать </th>
							<th>Срок действия</th>
							<th>Цена</th>
							<th>Акции</th>
						</tr>

						<tbody>

							{% for  sale_of_residential in Sale_of_residential %}

							<tr>
								<td><input  class="group2" type="radio" name="sale_of_residential" value="{{ sale_of_residential.pk }}" ></td>
								<td>{{ sale_of_residential.get_name_validity_date }}</td>
								<td>{{ sale_of_residential.price }} руб.</td>
								<td>

									{% if sale_of_residential.shares.is_active %}
									<a class="btn btn-success btn-xs"  href="/tariffs/shareslist/">{{ sale_of_residential.shares }}</a><br>
									скидка - {{ sale_of_residential.shares.discount }}%
									{% else  %}
									-------------
									{% endif  %}

								</td>  
							</tr>

							{% endfor %}

														<tr>
							  <td  colspan="4" > 
							   Для отмены выбранного пункта нажмите сюда 
							  <a  href="#" id="no_group2" class="btn btn-danger btn-xs" >Отмена</a>    
							</td>
							</tr>

						</tbody>


					</table>



					<h3  style="font-weight: bold;" >Тариф Аренда коммерческой
					</h3>


					<table class="table table-bordered table-striped table-hover" >

						<tr>
							<th> Выбрать </th>
							<th>Срок действия</th>
							<th>Цена</th>
							<th>Акции</th>
						</tr>

						<tbody>

							{% for  rent_commercial in Rent_commercial %}

							<tr>
								<td><input  class="group3" type="radio" name="rent_commercial" value="{{ rent_commercial.pk }}" ></td>
								<td>{{ rent_commercial.get_name_validity_date }}</td>
								<td>{{ rent_commercial.price }} руб.</td>
								<td>

									{% if rent_commercial.shares.is_active %}
									<a class="btn btn-success btn-xs"  href="/tariffs/shareslist/">{{ rent_commercial.shares }}</a><br>
									скидка - {{ rent_commercial.shares.discount }}%
									{% else  %}
									-------------
									{% endif  %}

								</td>
							</tr>

							{% endfor %}

				            <tr>
							  <td  colspan="4" > 
							   Для отмены выбранного пункта нажмите сюда 
							  <a  href="#" id="no_group3" class="btn btn-danger btn-xs" >Отмена</a>    
							</td>
							</tr>

						</tbody>


					</table>



					<h3  style="font-weight: bold;" >Тариф Продажа коммерческой
					</h3>


					<table class="table table-bordered table-striped table-hover" >

						<tr>
							<th> Выбрать </th>
							<th>Срок действия</th>
							<th>Цена</th>
							<th>Акции</th>
						</tr>

						<tbody>

							{% for  sales_of_commercial in Sales_of_commercial %}

							<tr>
								<td><input  class="group4" type="radio" name="sales_of_commercial" value="{{ sales_of_commercial.pk }}" ></td>
								<td>{{ sales_of_commercial.get_name_validity_date }}</td>
								<td>{{ sales_of_commercial.price }} руб.</td>
								<td>

									{% if sales_of_commercial.shares.is_active %}
									<a class="btn btn-success btn-xs"  href="/tariffs/shareslist/">{{ sales_of_commercial.shares }}</a><br>
									скидка - {{ sales_of_commercial.shares.discount }}%
									{% else  %}
									-------------
									{% endif  %}

								</td>
							</tr>

							{% endfor %}
						    <tr>
							  <td  colspan="4" > 
							   Для отмены выбранного пункта нажмите сюда 
							  <a  href="#" id="no_group4" class="btn btn-danger btn-xs" >Отмена</a>    
							</td>
							</tr>

						</tbody>


					</table>


					<h3  style="font-weight: bold;" >Тариф Продажа и аренда земельного участка
					</h3>


					<table class="table table-bordered table-striped table-hover" >

						<tr>
							<th> Выбрать </th>
							<th>Срок действия</th>
							<th>Цена</th>
							<th>Акции</th>
						</tr>

						<tbody>

							{% for  sale_and_lease_of_land in Sale_and_lease_of_land %}

							<tr>
								<td><input  class="group5" type="radio" name="sale_and_lease_of_land" value="{{ sale_and_lease_of_land.pk }}" ></td>
								<td>{{ sale_and_lease_of_land.get_name_validity_date }}</td>
								<td>{{ sale_and_lease_of_land.price }} руб.</td>
								<td>

									{% if sale_and_lease_of_land.shares.is_active %}
									<a class="btn btn-success btn-xs"  href="/tariffs/shareslist/">{{ sale_and_lease_of_land.shares }}</a><br>
									скидка - {{ sale_and_lease_of_land.shares.discount }}%
									{% else  %}
									-------------
									{% endif  %}

								</td>
							</tr>

							{% endfor %}

						    <tr>
							  <td  colspan="4" > 
							   Для отмены выбранного пункта нажмите сюда 
							  <a  href="#" id="no_group5" class="btn btn-danger btn-xs" >Отмена</a>    
							</td>
							</tr>

						</tbody>


					</table>

					<input type="submit" class="btn btn-default" value="Заказать!">


				</form>



			</div>



		</div>




	</div>

</div>



<style type="text/css">

.menu_blog > li > a:hover,
.menu_blog> li > a:focus {
	text-decoration: none;
	background-color: #48B2BE;
	color:#FFFFFF;
}

body {

	background-color:#767070;
}

a,h1,h3,h3,h4 {  color:#FFFFFF;  }



</style>

<script type="text/javascript">

$(document).ready(function(){


	$('#no_group1').on('click',function(e){

		var b_group1 = $('.group1').filter('input:checked')[0];

		if(b_group1){ b_group1.checked=false;  return false;  }

	});


	$('#no_group2').on('click',function(e){  

		var b_group1 = $('.group2').filter('input:checked')[0];

		if(b_group1){ b_group1.checked=false;  return false;  }

	});    

	$('#no_group3').on('click',function(e){

		var b_group1 = $('.group3').filter('input:checked')[0];

		if(b_group1){ b_group1.checked=false;  return false;  }

	});


	$('#no_group4').on('click',function(e){

		var b_group1 = $('.group4').filter('input:checked')[0];

		if(b_group1){ b_group1.checked=false;  return false;  }

	});

	$('#no_group5').on('click',function(e){

		var b_group1 = $('.group5').filter('input:checked')[0];

		if(b_group1){ b_group1.checked=false;  return false;  }

	});




});



</script>
<script type="text/javascript">
jQuery(document).ready(function(){
	jQuery("table").first().find("th").each(function(key, val){
		var width = jQuery(val).width()
		jQuery("table").each(function(){
			jQuery(this).find('th').eq(key).width(width)
		})
	})
})
</script>



{% endblock  %}
