{% extends 'base.html'  %}


{% block header  %}

{% endblock %}


{% block content  %}


<div style="margin-top:100px;" class="container">


<div class="row" >    

   <div class="col-lg-12">

    <h1>Cпасибо за покупку, сумма заказа - {{ out_summ }} руб.</h1>               

	<table  class="table table-bordered table-striped table-hover" >


		<tr>
		     <th>Идентификатор заказа</th>   
		     <th>Тариф</th>
		     <th>Цена тарифа</th>
		     <th>Дата покупки</th>  
		</tr>

        {% for OrdersLog in OrdersLogs  %}       
			<tr>       
	       
				
				<td>{{ OrdersLog.inv_id }} </td>    
				<td>{{ OrdersLog.get_name_tariff_type }}</td>
	            <td>{{ OrdersLog.out_summ }}</td>
				<td>{{ OrdersLog.date_time }}</td> 

			</tr>  

		{% endfor %}        



	</table>    



</div>


</div>


<style type="text/css">

.menu_blog > li > a:hover,
.menu_blog> li > a:focus {
  text-decoration: none;
  background-color: #48B2BE;
  color:#FFFFFF;
}

body {

	background-color:#767070;
}

a,h1,h3,h3,h4 {  color:#FFFFFF;  }



</style>


{% endblock %}
