{% extends 'base.html'  %}          

{% block content  %}  

<div  style="margin-top:120px;" class="container-fluid">    

  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>

  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-6 ">   
      
  
<form  id="add_object_form" class="form" method='POST' action="" enctype="multipart/form-data"  >

  <input type="hidden" name="type_object"  value="{{ realt_object.type_object }}" >           


  <span id="form-content" >

        <!-- адрес -->
  <div class="form-group">
    

        <label style="width:150px;" >Микрорайон города                         

         <select id="type_house" name="microdistrict" class="costom-select-area-add"  > 

            {% if realt_object.microdistrict.title %}   

               <option  value="{{ realt_object.microdistrict.pk }}" >{{ realt_object.microdistrict.title }}</option>
               
            {% endif %}  

         <option value="" >Не выбрано</option> 


            {%  for microdistric in form.fields.microdistrict.queryset %}  

                <option value="{{ microdistric.pk }}">{{ microdistric.title }}</option>

            {% endfor %}    

         </select>      
      </label>
</div> 

<div class="form-group">
  
      <label style="width: 150px;" >Улица                                   

       <input type="text" class="form-control" name="street"  value="{{ realt_object.street }}" >

     </label>


     <label style="width: 150px;" >Дом                                    

       <input type="text" class="form-control" name="house" value="{{ realt_object.house }}" >          

     </label>  

 
</div>
 <!-- адрес -->                                                                                                     


    {% csrf_token %}        

         
    
      <div class="form-group">                                                        
   
      <label style="width:150px;">
      <span style="color:#FF6258;" class="glyphicon glyphicon-asterisk"></span>Тип сделки      

       <select id="swich_transaction"  name="type_transaction" class="costom-select" >

         {% if realt_object.get_val_type_transaction %}  

          <option  value="{{ realt_object.type_transaction }}" >{{ realt_object.get_val_type_transaction }}</option> 

        {% endif %}  

          <option value="" >Не выбрано</option>                    

          {%  for key,value in form.fields.type_transaction.choices %}
                   
            {% if key %}     
              <option value="{{ key }}">{{ value }}</option>  
            {% endif %}       
                

          {% endfor %}    

       </select>
      </label>

      {% if realt_object.type_transaction == 'Rent'  %}  

          <span   id="deadline" >

      {% else  %}  
          <span  style="display:none;" id="deadline" >

      {% endif %}                                                        
   
      <label style="width:150px;" >Период аренды                         

       <select  name="deadline" class="costom-select" >  
           
          {% if realt_object.deadline.title %}   

          <option  value="{{ realt_object.deadline.pk }}" >{{ realt_object.deadline.title }}</option>
         {% endif %}  

          <option value="" >Не выбрано</option>                         

          {%  for deadline in form.fields.deadline.queryset %}  

            <option value="{{ deadline.pk }}">{{ deadline.title }}</option>

          {% endfor %}    

       </select>
     </label>        

    </span>   
      

    </div>


<div class="form-group">

    <label style="width:150px;">Площадь Общая                                   
        <input type="text" class="form-control" name="total_area" value="{{ realt_object.price|default:"" }}" >    
   </label>




    <label  id="parking_spaces" style="width:150px;" >Тип машиноместа                                   

     <select id="type_parking_spaces" name="type_parking_spaces" class="costom-select" >  

        {% if realt_object.type_parking_spaces.title %}   

          <option  value="{{ realt_object.type_parking_spaces.pk }}" >{{ realt_object.type_parking_spaces.title }}</option>
        {% endif %}                    


            <option value="" >Не выбрано</option>    
        {%  for type_parking_spaces in form.fields.type_parking_spaces.queryset %}  

            <option value="{{ type_parking_spaces.pk }}">{{ type_parking_spaces.title }}</option>

        {% endfor %}          

     </select> 
    </label>     
              

  </div>







    <div class="form-group">                                                          
   
      <label style="width:250px;">Дополнительные сведения</label>                                        
   
       <textarea  class="form-control" name="descriptions" >{{ realt_object.descriptions }}</textarea>      

    </div>


    <div class="form-group">                                                                              
      
      <input style="display:none;" type="file" class="form-control" id="file-input" multiple > 

      <input type="button"   id="bth-file" class="btn btn-primary"  value="Загрузить фото!" >
      <strong>Допустимое количество фото -  5!</strong>

    </div> 

    <div  id="canvas_list">

      {%  for images in realt_object.images_r.all %}                      

      <div class="thumbail">                         
          <img src="data:image/png;base64,{{ images.get_urlData }}" width="100" height="100"><span class="glyphicon glyphicon-remove"></span>
      </div>

      {% endfor %}           
      
    </div>    



    <h3>Условия сделки</h3>   


    <div class="form-group">                                                        
   
     <label style="width:150px;">Цена                           
   
       <input type="text" class="form-control" name="price" value="{{ realt_object.price|default:"" }}" > 

     </label>   


                                                      
    <label style="width:150px;">Торг

    {% if realt_object.bargain %}                         

       <input type="checkbox"  name="bargain" checked="true" >
    {% else %}
       <input type="checkbox"  name="bargain"  >

    {% endif %}   

     </label>

     <label style="width:150px;" >Залог                               
   
       <input type="text" class="form-control" name="deposit"  value="{{ realt_object.deposit|default:"" }}" >   

     </label>           

    </div>   
   

   <!-- кнопка + инфо  -->
<div class="form-group">                           

  <div class="row">     

      <div class="col-lg-2">

       <input  class="btn btn-primary" type="submit" value="Добавить!"  > 

      </div>   

      <div class="col-lg-8">
          <div   class="progress">         
          
                <div id="progress-bar"  class="progress-bar"  
                    aria-valuemin="0" 
                    aria-valuemax="100" 
                    style="width:0%;

                ">
                  <span id="procent-bar" > </span>
                </div>

          </div>
      </div> 
    
  </div>

  <div class="row">

  <div class="col-lg-12">      

      <div style="display:none;" id="alert-error-form" class="alert alert-danger alert-dismissible fade in" role="alert" >
          <span id="error-text-empty" > </span><br>
          <span id="error-text-images" > </span><br>
          <span id="error-text-Pattern" > </span><br>  
      </div>

     </div>
</div>          


</div> 
<!-- кнопка + инфо  -->


  </form> 


  </div>

</div>


<style type="text/css">
  
  label {   
      
      text-align:center;

  }    

  a>label {  
      text-align:left;  
  }   


.multiselect-container>li>a>label{

  margin:0;
  height:100%;
  cursor:pointer;
  font-weight:400;
  padding:3px 20px 3px 25px; 
  white-space: normal;


}    


</style>


{% endblock %}       