{% extends 'base.html'  %}          

{% block content  %}  

<div  style="margin-top:120px;" class="container-fluid">  

  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>

  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-6 ">   
      
  
<form  id="add_object_form" class="form" method='POST' action="" enctype="multipart/form-data"  >

  <input type="hidden" name="type_object"  value="{{ realt_object.type_object }}" >           


  <span id="form-content" >

        <!-- адрес -->
  <div class="form-group">
    

        <label style="width:150px;" >Микрорайон города                         

         <select id="type_house" name="microdistrict" class="costom-select-area-add"  > 

            {% if realt_object.microdistrict.title %}   

               <option  value="{{ realt_object.microdistrict.pk }}" >{{ realt_object.microdistrict.title }}</option>
               
            {% endif %}  

         <option value="" >Не выбрано</option> 


            {%  for microdistric in form.fields.microdistrict.queryset %}  

                <option value="{{ microdistric.pk }}">{{ microdistric.title }}</option>

            {% endfor %}    

         </select>      
      </label>
</div> 

<div class="form-group">
  
      <label style="width: 150px;" >Улица                                   

       <input type="text" class="form-control" name="street"  value="{{ realt_object.street }}" >

     </label>


     <label style="width: 150px;" >Дом                                    

       <input type="text" class="form-control" name="house" value="{{ realt_object.house }}" >          

     </label>  


</div>
 <!-- адрес -->                                                                                                     


    {% csrf_token %}        

         
    
      <div class="form-group">                                                        
   
      <label style="width:150px;">
      <span style="color:#FF6258;" class="glyphicon glyphicon-asterisk"></span>Тип сделки      

       <select id="swich_transaction"  name="type_transaction" class="costom-select" >

         {% if realt_object.get_val_type_transaction %}  

          <option  value="{{ realt_object.type_transaction }}" >{{ realt_object.get_val_type_transaction }}</option> 

        {% endif %}  

          <option value="" >Не выбрано</option>                    

          {%  for key,value in form.fields.type_transaction.choices %}
                   
            {% if key %}     
              <option value="{{ key }}">{{ value }}</option>  
            {% endif %}       
                

          {% endfor %}    

       </select>
      </label>

      {% if realt_object.type_transaction == 'Rent'  %}  

          <span   id="deadline" >

      {% else  %}  
          <span  style="display:none;" id="deadline" >

      {% endif %}                                                        
   
      <label style="width:150px;" >Период аренды                         

       <select  name="deadline" class="costom-select" >  
           
          {% if realt_object.deadline.title %}   

          <option  value="{{ realt_object.deadline.pk }}" >{{ realt_object.deadline.title }}</option>
         {% endif %}  

          <option value="" >Не выбрано</option>                         

          {%  for deadline in form.fields.deadline.queryset %}  

            <option value="{{ deadline.pk }}">{{ deadline.title }}</option>

          {% endfor %}    

       </select>
     </label>        

    </span>   
      

    </div>


     <h3>Параметры земельного участка</h3>   

  <div class="form-group">

    <label  style="width:150px;" >Размер земельного участка  в сотках                                                         
 
        <input type="text" class="form-control" name="land_area" value="{{ realt_object.land_area|default:"" }}" >   

    </label>
 

    <label style="width:150px;" >Категория земельного участка                                

     <select  name="category_land" class="costom-select" >  

        {% if realt_object.category_land.title %}   

          <option  value="{{ realt_object.category_land.pk }}" >{{ realt_object.category_land.title }}</option>
        {% endif %}   

        <option value="" >Не выбрано</option>              

        {%  for category_land in form.fields.category_land.queryset %}  

            <option value="{{ category_land.pk }}">{{ category_land.title }}</option>

        {% endfor %}          

     </select> 
    </label>    


  </div>



    <h3>Параметры дома</h3>


    <div class="form-group">                                                      
                                                       
   
      <label style="width:150px;" >Тип дома                   

         <select id="type_house" name="type_house" class="costom-select" > 


        {% if realt_object.type_house.title %}   

          <option  value="{{ realt_object.type_house.pk }}" >{{ realt_object.type_house.title }}</option>
        {% endif %} 

         <option value="" >Не выбрано</option>             

            {%  for type_house in form.fields.type_house.queryset %}  

                <option value="{{ type_house.pk }}">{{ type_house.title }}</option>

            {% endfor %}    

         </select>      
      </label>
                                                          

    <label style="width:150px;" >Год постройки                                     

       <input type="text" class="form-control" name="year_construction"  value="{{ realt_object.year_construction }}" >  

    </label>      
  </div>  


       <div class="form-group"> 

  
                                                       
   
      <label style="width:150px;" >Количество комнат                 

       <select  name="number_rooms" class="costom-select" >


        {% if realt_object.number_rooms.title %}       

          <option  value="{{ realt_object.number_rooms.pk }}" >{{ realt_object.number_rooms.title }}</option>

       {% endif %}   


       <option value="" >Не выбрано</option>          

          {%  for number_rooms in form.fields.number_rooms.queryset %}  

              <option value="{{ number_rooms.pk }}">{{ number_rooms.title }}</option>

          {% endfor %}    

       </select>        
    </label> 


      <label style="width:150px;">Этажность                                    
          <input type="text" class="form-control" name="storey" value="{{ realt_object.storey|default:"" }}" > 
      </label>    
    
                                                     
  </div> 

  


  <div class="form-group">    

    <label style="width:150px;">Площадь Общая                                
        <input type="text" class="form-control" name="total_area" value="{{ realt_object.total_area|default:"" }}" > 
   </label>                                                                      
 

    <label style="width:150px;">Площадь Жилая                                 
      <input type="text" class="form-control" name="living_area" value="{{ realt_object.living_area|default:"" }}" >
    </label> 

    <label style="width:150px;" >Площадь  Кухня                               
       <input type="text" class="form-control" name="kitchen_area" value="{{ realt_object.kitchen_area|default:"" }}" >
    </label>  

  </div> 

   <div class="form-group">   

  <div class="btn-group" data-toggle="buttons"  >  

    {% if realt_object.security %}                                             

        <label class="btn btn-default active" >  
          <input type="checkbox" checked="true" name="security" >Охрана  
        </label>
    {% else %} 
        <label class="btn btn-default" >  
          <input type="checkbox" name="security" >Охрана  
        </label>   
    {% endif %} 

    {% if realt_object.banya %}

      <label class="btn btn-default active"  >
        <input type="checkbox" checked="true" name="banya" > Баня
      </label>

    {% else %} 
      <label class="btn btn-default"  >
        <input type="checkbox"  name="banya" > Баня
      </label>
    {% endif %} 

    {% if realt_object.garage %}

      <label class="btn btn-default active" >
         <input type="checkbox" checked="true" name="garage" > Гараж
      </label>

    {% else %} 
      <label class="btn btn-default" >
         <input type="checkbox"  name="garage" > Гараж
      </label>
    {% endif %}  

    {% if realt_object.pool %}

      <label class="btn btn-default active"  >
         <input type="checkbox" checked="true"  name="pool" > Бассейн
      </label> 

    {% else %} 
      <label class="btn btn-default"  >
         <input type="checkbox"  name="pool" > Бассейн
      </label> 
    {% endif %}  

    {% if realt_object.outbuildings %}

      <label class="btn btn-default active" >  
         <input type="checkbox" checked="true" name="outbuildings" > Хозяйственные постройки
      </label> 

    {% else %} 
      <label class="btn btn-default" >  
         <input type="checkbox"  name="outbuildings" > Хозяйственные постройки
      </label> 
    {% endif %}     



  </div> 

  </div>

        
  <div class="form-group">   


      <label style="width:150px;" >Ремонт                  

       <select   name="pepairs" class="costom-select" > 

         {% if realt_object.pepairs.title %}   

          <option  value="{{ realt_object.pepairs.pk }}" >{{ realt_object.pepairs.title }}</option>
          
        {% endif %}     

          <option value="" >Не выбрано</option>               

          {%  for pepairs in form.fields.pepairs.queryset %}  

              <option value="{{ pepairs.pk }}">{{ pepairs.title }}</option>

          {% endfor %}    

       </select> 
      </label> 

      <label style="width:150px;">Санузел                 

       <select  name="toilet" class="costom-select" > 


         {% if realt_object.toilet.title %}   

          <option  value="{{ realt_object.toilet.pk }}" >{{ realt_object.toilet.title }}</option>
          
        {% endif %}  

           <option value="" >Не выбрано</option>            

          {%  for toilet in form.fields.toilet.queryset %}  

              <option value="{{ toilet.pk }}">{{ toilet.title }}</option>

          {% endfor %}    

       </select>
      </label> 

      </div>

      <div class="form-group">

          <label style="width:150px;"> Бытовая техника                           

       <select name="appliances" class="multi_select_b" multiple="true"  > 


          {%  for is_appliances in is_Appliances %}     

            <option  selected="true" value="{{ is_appliances.pk }}">{{ is_appliances.title }}</option> 
 
          {% endfor %} 


           {%  for not_appliances in not_Appliances %}     

            <option   value="{{ not_appliances.pk }}">{{ not_appliances.title }}</option> 
 
          {% endfor %}                                       
 
       </select>
      </label>  


      <label style="width:150px;">Наличие мебели                           

       <select name="presence_furniture" class="costom-select" > 

        {% if realt_object.presence_furniture.title %}   

          <option  value="{{ realt_object.presence_furniture.pk }}" >{{ realt_object.presence_furniture.title }}</option>
          
        {% endif %}  
  

          <option value="" >Не выбрано</option>                     

          {%  for presence_furniture in form.fields.presence_furniture.queryset %}  

              <option value="{{ presence_furniture.pk }}">
              {{ presence_furniture.title }}</option>

          {% endfor %}         

       </select>   
      </label>  
       
       

       
    </div>

     </span>


   <h3>Инженерные коммуникации</h3>


     <div class="form-group">  


    <label style="width:150px;" >Электричество                                  

     <select  name="electricity" class="costom-select" > 


        {% if realt_object.electricity.title %}   

          <option  value="{{ realt_object.electricity.pk }}" >{{ realt_object.electricity.title }}</option>
          
        {% endif %}   

         <option value="" >Не выбрано</option>             

        {%  for electricity in form.fields.electricity.queryset %}  

            <option value="{{ electricity.pk }}">{{ electricity.title }}</option>

        {% endfor %}          

     </select> 
    </label> 

    <label style="width:150px;">Отопление                                 

     <select  name="heating" class="costom-select" > 

        {% if realt_object.heating.title %}   

          <option  value="{{ realt_object.heating.pk }}" >{{ realt_object.heating.title }}</option>
          
        {% endif %}   

        <option value="" >Не выбрано</option>             

        {%  for heating in form.fields.heating.queryset %}  

            <option value="{{ heating.pk }}">{{ heating.title }}</option>

        {% endfor %}          

     </select> 
    </label>                                                                 
 
    <label style="width:150px;" >Канализация                                

     <select  name="sewage" class="costom-select" >

        {% if realt_object.sewage.title %}   

          <option  value="{{ realt_object.sewage.pk }}" >{{ realt_object.sewage.title }}</option>
          
        {% endif %}     

         <option value="" >Не выбрано</option>             

        {%  for sewage in form.fields.sewage.queryset %}  

            <option value="{{ sewage.pk }}">{{ sewage.title }}</option>

        {% endfor %}          

     </select> 
    </label> 
                                                              
 
    <label style="width:150px;"  >Водоснабжение                             

     <select  name="water_supply" class="costom-select" >  

        {% if realt_object.water_supply.title %}     

          <option  value="{{ realt_object.water_supply.pk }}" >{{ realt_object.water_supply.title }}</option>
          
        {% endif %}    

         <option value="" >Не выбрано</option>              

        {%  for water_supply in form.fields.water_supply.queryset %}  

            <option value="{{ water_supply.pk }}">{{ water_supply.title }}</option>

        {% endfor %}          

     </select> 
    </label>         
                                                            
      

  </div>  
   



    <div class="form-group">                                                          
   
      <label style="width:250px;">Дополнительные сведения</label>                                        
   
       <textarea  class="form-control" name="descriptions" >{{ realt_object.descriptions }}</textarea>      

    </div>


    <div class="form-group">                                                                              
      
      <input style="display:none;" type="file" class="form-control" id="file-input" multiple > 

      <input type="button"   id="bth-file" class="btn btn-primary"  value="Загрузить фото!" >

      <strong>Допустимое количество фото -  5!</strong>

    </div> 

    <div  id="canvas_list">

      {%  for images in realt_object.images_r.all %}                      

      <div class="thumbail">                         
          <img src="data:image/png;base64,{{ images.get_urlData }}" width="100" height="100"><span class="glyphicon glyphicon-remove"></span>
      </div>

      {% endfor %}           
      
    </div>    



    <h3>Условия сделки</h3>   


    <div class="form-group">                                                        
   
     <label style="width:150px;">Цена                           
   
       <input type="text" class="form-control" name="price" value="{{ realt_object.price|default:"" }}" > 

     </label>   


                                                      
    <label style="width:150px;">Торг

    {% if realt_object.bargain %}                         

       <input type="checkbox"  name="bargain" checked="true" >
    {% else %}
       <input type="checkbox"  name="bargain"  >

    {% endif %}   

     </label>

     <label style="width:150px;" >Залог                            
   
       <input type="text" class="form-control" name="deposit"  value="{{ realt_object.deposit|default:"" }}" > 

     </label>         

    </div>   
   

    <!-- кнопка + инфо  -->
<div class="form-group">                           

  <div class="row">     

      <div class="col-lg-2">

       <input  class="btn btn-primary" type="submit" value="Добавить!"  > 

      </div>   

      <div class="col-lg-8">
          <div   class="progress">         
          
                <div id="progress-bar"  class="progress-bar"  
                    aria-valuemin="0" 
                    aria-valuemax="100" 
                    style="width:0%;

                ">
                  <span id="procent-bar" > </span>
                </div>

          </div>
      </div> 
    
  </div>

  <div class="row">

  <div class="col-lg-12">      

      <div style="display:none;" id="alert-error-form" class="alert alert-danger alert-dismissible fade in" role="alert" >
          <span id="error-text-empty" > </span><br>
          <span id="error-text-images" > </span><br>
          <span id="error-text-Pattern" > </span><br>  
      </div>

     </div>
</div>          


</div> 
<!-- кнопка + инфо  -->


  </form> 


  </div>

</div>


<style type="text/css">
  
  label {   
      
      text-align:center;

  }    

  a>label {  
      text-align:left;  
  }   


.multiselect-container>li>a>label{

  margin:0;
  height:100%;
  cursor:pointer;
  font-weight:400;
  padding:3px 20px 3px 25px; 
  white-space: normal;


}    


</style>


{% endblock %}     