<div class="row">
  <div class="form-group">

    <label>Вид объекта <br>

      <select id="type_house" name="type_object" class="costom-select-type-obj" multiple="true" >  
        <option value="House" >Дом</option>
        <option value="Dacha" >Дача</option>
        <option value="Part_of_house" >Часть дома</option>
        <option value="Apart_of_house" >Частичка дома</option>
        <option value="Vremyanka" >Времянка</option>
        <option value="Townhouse" >Таунхаус</option>
        <option value="Duplex" >Дуплекс</option>
        <option value="Cottage" >Коттедж</option>
      </select>
    </label>    



    <label>Тип дома <br>

      <select id="type_house" name="type_house" class="costom-select" >

        <option value="" >Не выбрано</option>

        {%  for type_house in form.fields.type_house.queryset %}

        <option value="{{ type_house.pk }}">{{ type_house.title }}</option>

        {% endfor %}

      </select>
    </label>


<label>Этажность<br>

<label>От  

  <input style="width:28px;padding:4px;height:28px" type="text" class="form-control" name="storey_from" >

</label>


<label>До

  <input style="width:28px;padding:4px;height:28px" type="text" class="form-control" name="storey_to" >

</label>

</label>

<label>Площадь Жилая<br>

<label>От  

  <input style="width:28px;padding:4px;height:28px" type="text" class="form-control" name="living_area_from" >

</label>


<label>До

  <input style="width:28px;padding:4px;height:28px" type="text" class="form-control" name="living_area_to" >

</label>

</label>

<label>Площадь Кухня <br>

<label>От  

  <input style="width:28px;padding:4px;height:28px" type="text" class="form-control" name="kitchen_area_from" >

</label>


<label>До

  <input style="width:28px;padding:4px;height:28px" type="text" class="form-control" name="kitchen_area_to" >

</label>

</label>


    <label>Санузел <br>

      <select  name="toilet" class="costom-select" >

        <option value="" >Не выбрано</option>

        {%  for toilet in form.fields.toilet.queryset %}

        <option value="{{ toilet.pk }}">{{ toilet.title }}</option>

        {% endfor %}

      </select>
    </label> &nbsp;

    <label>Площадь земельного <br>участка

      <label>От  

        <input style="width:28px;padding:4px;height:28px" type="text" class="form-control" name="land_area_from" >

      </label>


      <label>До

        <input style="width:28px;padding:4px;height:28px" type="text" class="form-control" name="land_area_to" >

      </label>

    </label>


    <label>Категория участка <br>

      <select  name="category_land" class="costom-select" >

        <option value="">Не выбрано</option>

        {%  for category_land in form.fields.category_land.queryset %}

        <option value="{{ category_land.pk }}">{{ category_land.title }}</option>

        {% endfor %}

      </select>
    </label>



    <label>Дополнительные строения <br>

      <div class="btn-group" data-toggle="buttons"  >

        <label class="btn btn-default" >
          <input type="checkbox"  name="security" >Охрана
        </label>

        <label class="btn btn-default"  >
          <input type="checkbox"  name="banya" > Баня
        </label>

        <label class="btn btn-default" >
          <input type="checkbox"  name="garage" > Гараж
        </label>

        <label class="btn btn-default"  >  
          <input type="checkbox"  name="pool" > Бассейн
        </label>

        <label class="btn btn-default" >
          <input type="checkbox"  name="outbuildings" > Хозяйственные постройки
        </label>

      </div>

    </label>


    <label>Электричество <br>

      <select  name="electricity" class="costom-select" >

        <option value="" >Не выбрано</option>

        {%  for electricity in form.fields.electricity.queryset %}

        <option value="{{ electricity.pk }}">{{ electricity.title }}</option>

        {% endfor %}

      </select>
    </label>

    <label>Отопление <br>

      <select  name="heating" class="costom-select" >

        <option value="" >Не выбрано</option>

        {%  for heating in form.fields.heating.queryset %}

        <option value="{{ heating.pk }}">{{ heating.title }}</option>

        {% endfor %}

      </select>
    </label>

    <label>Канализация <br>

      <select  name="sewage" class="costom-select" >

        <option value="" >Не выбрано</option>

        {%  for sewage in form.fields.sewage.queryset %}

        <option value="{{ sewage.pk }}">{{ sewage.title }}</option>

        {% endfor %}

      </select>
    </label>


    <label>Водоснабжение <br>

      <select  name="water_supply" class="costom-select" >

        <option value="" >Не выбрано</option>

        {%  for water_supply in form.fields.water_supply.queryset %}

        <option value="{{ water_supply.pk }}">{{ water_supply.title }}</option>

        {% endfor %}

      </select>
    </label>


    <label>Ремонт <br>

      <select   name="pepairs" class="costom-select"   >

        <option value="" >Не выбрано</option>

        {%  for pepairs in form.fields.pepairs.queryset %}

        <option value="{{ pepairs.pk }}">{{ pepairs.title }}</option>

        {% endfor %}

      </select>
    </label>


    <label>Наличие мебели <br>

      <select name="presence_furniture" class="costom-select" >

        <option value="" >Не выбрано</option>

        {%  for presence_furniture in form.fields.presence_furniture.queryset %}

        <option value="{{ presence_furniture.pk }}">
          {{ presence_furniture.title }}</option>

          {% endfor %}

        </select>
      </label>


      <label> Бытовая техника <br>

        <select name="appliances" class="multi_select_b" multiple="true"  >

          {%  for appliances in form.fields.appliances.queryset %}

          <option value="{{ appliances.pk }}">
            {{ appliances.title }}</option>

            {% endfor %}

          </select>
        </label>

<label>Залог<br>  

<label>От  

  <input style="width:28px;padding:4px;height:28px" type="text" class="form-control" name="deposit_from" >

</label>


<label>До  

  <input style="width:28px;padding:4px;height:28px" type="text" class="form-control" name="deposit_to" >

</label>

</label> 


      </div>

    </div>
