   <label>Вид объекта <br>                                      

     <select id="swich_type" class="costom-select" name="type_object" >    

      <option value="" >Не выбрано</option>       

           <option value="Garages" >Гараж</option>  
           <option value="Parking_spaces">Машиноместа</option>    

           
    </select>

    </label> 


    <label  id="parking_spaces" style="display:none;"  >Тип машиноместа<br>                                   

     <select id="type_parking_spaces" name="type_parking_spaces" class="costom-select" >  

        <option value="" >Не выбрано</option>

        {%  for type_parking_spaces in form.fields.type_parking_spaces.queryset %}  

            <option value="{{ type_parking_spaces.pk }}">{{ type_parking_spaces.title }}</option>

        {% endfor %}          

     </select> 
    </label> 



    <label id="type_garage" style="display:none;" >Тип гаража<br>                                    

     <select  name="garage_type" class="costom-select" >   

        <option value="" >Не выбрано</option>                  

        {%  for garage_type in form.fields.garage_type.queryset %}  

            <option value="{{ garage_type.pk }}">{{ garage_type.title }}</option>

        {% endfor %}          

     </select>   
    </label>  