  <label >Класс строения                              <br>

    <select name="class_structure" class="costom-select" >

      <option value="" >Не выбрано</option>

      {%  for class_structure in form.fields.class_structure.queryset %}

      <option value="{{ class_structure.pk }}">
        {{ class_structure.title }}</option>

        {% endfor %}

      </select>
    </label>


    <label  >Тип дома                   <br>

      <select id="type_house" name="type_house" class="costom-select" >

        <option value="" >Не выбрано</option>

        {%  for type_house in form.fields.type_house.queryset %}

        <option value="{{ type_house.pk }}">{{ type_house.title }}</option>

        {% endfor %}

      </select>
    </label>


    <label>Электричество <br>

      <select  name="electricity" class="costom-select" >

        <option value="" >Не выбрано</option>

        {%  for electricity in form.fields.electricity.queryset %}

        <option value="{{ electricity.pk }}">{{ electricity.title }}</option>

        {% endfor %}

      </select>
    </label>


    <label >Отопление                                 <br>

      <select  name="heating" class="costom-select" >

        <option value="" >Не выбрано</option>

        {%  for heating in form.fields.heating.queryset %}

        <option value="{{ heating.pk }}">{{ heating.title }}</option>

        {% endfor %}

      </select>
    </label>

    <label  >Канализация                                <br>

      <select  name="sewage" class="costom-select" >

        <option value="" >Не выбрано</option>

        {%  for sewage in form.fields.sewage.queryset %}

        <option value="{{ sewage.pk }}">{{ sewage.title }}</option>

        {% endfor %}

      </select>
    </label>


    <label   >Водоснабжение                             <br>

      <select  name="water_supply" class="costom-select" >

        <option value="" >Не выбрано</option>

        {%  for water_supply in form.fields.water_supply.queryset %}

        <option value="{{ water_supply.pk }}">{{ water_supply.title }}</option>

        {% endfor %}

      </select>
    </label>


      <label>Площадь земельного <br>участка

      <label>От  

        <input style="width:28px;padding:4px;height:28px" type="text" class="form-control" name="land_area_from" >

      </label>


      <label>До

        <input style="width:28px;padding:4px;height:28px" type="text" class="form-control" name="land_area_to" >

      </label>

    </label>
