 <label>Количество комнат <br>

     <select  name="number_rooms" class="costom-select" >

     <option value="" >Не выбрано</option>

        {%  for number_rooms in form.fields.number_rooms.queryset %}

            <option value="{{ number_rooms.pk }}">{{ number_rooms.title }}</option>

        {% endfor %}

     </select>
  </label>

      <label>Тип дома <br>

         <select id="type_house" name="type_house" class="costom-select" >

       <option value="" >Не выбрано</option>

            {%  for type_house in form.fields.type_house.queryset %}

                <option value="{{ type_house.pk }}">{{ type_house.title }}</option>

            {% endfor %}

         </select>
    </label>


<label>Этаж<br>

<label>От  

  <input style="width:28px;padding:4px;height:28px" type="text" class="form-control" name="floor_from" >

</label>


<label>До

  <input style="width:28px;padding:4px;height:28px" type="text" class="form-control" name="floor_to" >

</label>

</label>


<label>Этажность<br>

<label>От  

  <input style="width:28px;padding:4px;height:28px" type="text" class="form-control" name="storey_from" >

</label>


<label>До

  <input style="width:28px;padding:4px;height:28px" type="text" class="form-control" name="storey_to" >

</label>

</label>


<label>Площадь Жилая<br>

<label>От  

  <input style="width:28px;padding:4px;height:28px" type="text" class="form-control" name="living_area_from" >

</label>


<label>До

  <input style="width:28px;padding:4px;height:28px" type="text" class="form-control" name="living_area_to" >

</label>

</label>


<label>Площадь Кухня <br>

<label>От  

  <input style="width:28px;padding:4px;height:28px" type="text" class="form-control" name="kitchen_area_from" >

</label>


<label>До

  <input style="width:28px;padding:4px;height:28px" type="text" class="form-control" name="kitchen_area_to" >

</label>

</label>



      <label style="width:170px;">Лоджия (количество)                       

         <div class="btn-group " data-toggle="buttons" >                            
            {%  for loggia_number in form.fields.loggia_number.queryset %}

 
             <label class="btn btn-default" >             
              <input type="checkbox"  name="loggia_number" value="{{ loggia_number.pk }}" >  
              {{ loggia_number.title }}    
             </label>  
              

          {% endfor %}    
         </div>  

      </label>     


      <label style="width:170px;" >Балкон (количество)                               

        <div class="btn-group" data-toggle="buttons">        
            {%  for balcony_number in form.fields.balcony_number.queryset %}

              <label class="btn btn-default">                            
                <input   type="checkbox" name="balcony_number" value="{{ balcony_number.pk }}" >
                {{ balcony_number.title }}
               </label> 

             

          {% endfor %}      
          </div>    

      </label>  


<label>Ремонт <br>

 <select   name="pepairs" class="costom-select" >

    <option value="" >Не выбрано</option>

    {%  for pepairs in form.fields.pepairs.queryset %}

        <option value="{{ pepairs.pk }}">{{ pepairs.title }}</option>

    {% endfor %}

 </select>
</label>


<label>Наличие мебели <br>

 <select name="presence_furniture" class="costom-select" >

    <option value="" >Не выбрано</option>

    {%  for presence_furniture in form.fields.presence_furniture.queryset %}

        <option value="{{ presence_furniture.pk }}">
        {{ presence_furniture.title }}</option>

    {% endfor %}

 </select>
</label>


<label> Бытовая техника <br>

 <select name="appliances" class="multi_select_b" multiple="true"  >

    {%  for appliances in form.fields.appliances.queryset %}

        <option value="{{ appliances.pk }}">
        {{ appliances.title }}</option>

    {% endfor %}

 </select>
</label>


<label>Залог<br>  

<label>От  

  <input style="width:28px;padding:4px;height:28px" type="text" class="form-control" name="deposit_from" >

</label>


<label>До  

  <input style="width:28px;padding:4px;height:28px" type="text" class="form-control" name="deposit_to" >

</label>

</label>      