    <label>Электричество <br>

      <select  name="electricity" class="costom-select" >

        <option value="" >Не выбрано</option>

        {%  for electricity in form.fields.electricity.queryset %}

        <option value="{{ electricity.pk }}">{{ electricity.title }}</option>

        {% endfor %}

      </select>
    </label>


    <label  >Канализация                                <br>

      <select  name="sewage" class="costom-select" >

        <option value="" >Не выбрано</option>

        {%  for sewage in form.fields.sewage.queryset %}

        <option value="{{ sewage.pk }}">{{ sewage.title }}</option>

        {% endfor %}

      </select>
    </label>


    <label   >Водоснабжение                             <br>

      <select  name="water_supply" class="costom-select" >

        <option value="" >Не выбрано</option>

        {%  for water_supply in form.fields.water_supply.queryset %}

        <option value="{{ water_supply.pk }}">{{ water_supply.title }}</option>

        {% endfor %}

      </select>
    </label>


      <label>Расстояние до <br>города км

      <label>От  

        <input style="width:28px;padding:4px;height:28px" type="text" class="form-control" name="distance_town_from" >

      </label>


      <label>До

        <input style="width:28px;padding:4px;height:28px" type="text" class="form-control" name="distance_town_to" >

      </label>

    </label>


    <label>Залог<br>  

<label>От  

  <input style="width:28px;padding:4px;height:28px" type="text" class="form-control" name="deposit_from" >

</label>


<label>До  

  <input style="width:28px;padding:4px;height:28px" type="text" class="form-control" name="deposit_to" >

</label>

</label>   
