{% extends 'base.html'  %}


{% block header  %}

{% endblock %}


{% block content  %}


<div style="margin-top:100px;" class="container-fluid">


	<div class="row-feed">

		<div class="col-lg-1">

			<img  style="border-radius: 10px;" width="100" height="100" src="/media/{{ blog.image }}" /></div>

			<div class="col-lg-7">

				<div  style="border:solid #47BCC5 1px;text-align:center;margin-left:20px;vertical-align: center;" >
					<h3  style="font-weight: bold;" >{{ blog.title }}</h3>
				</div>

			</div>

			<div class="col-lg-4">

				<form  action="/blog/search/{{ blog.pk }}/"  class="form">
					<!-- <input  name="search" placeholder="Поиск по разделу" type="text" class="form-control" >  -->
					<style media="screen">
					/* enable absolute positioning */
					.inner-addon {
						position: relative;
					}

					/* style icon */
					.inner-addon .glyphicon {
						position: absolute;
						padding: 10px;
						cursor: pointer
					}

					/* align icon */
					.left-addon .glyphicon  { left:  0px;}
					.right-addon .glyphicon { right: 0px;}

					/* add padding  */
					.left-addon input  { padding-left:  30px; }
					.right-addon input { padding-right: 30px; }
					</style>
					<div class="inner-addon left-addon">
						<input type="text" class="form-control" name="search"  placeholder="Введите не менее 3 символов" />
						<i id="search" class="glyphicon glyphicon-search"></i>
					</div>
					<script type="text/javascript">
						jQuery(document).ready(function(){
							jQuery("#search").on("click", function(){
								jQuery(this).closest("form").submit();
							})
						})
					</script>

				</form>

			</div>

		</div>

	</div>

	<div class="container-fluid" >


		<div   class="row">

			<div  style="margin-left:20px;" class="col-lg-3">  

             <div class="row"> 
				<h3 align="centr" style="text-align: center;font-weight: bold;" >Выберите категорию : </h3>


				<ul class="nav nav-bar menu_blog" >  

					{% for cat in blog_cat %}

					<li class="blog-menu"  style="border:solid #47BCC5 1px; margin-bottom: 20px;" >
						<a   style="text-align:center;padding:1px 1px;" href="/blog/list/{{ blog.pk }}/cat/{{cat.pk}}/">
							<h3 style="margin:7px 0">{{ cat.title }}</h3>
						</a>
					</li>

					{% endfor %}

				</ul>

				<style media="screen">
					ul.menu_blog li a{
						transition: all .5s;  
					}
				</style>
		     </div>		

		    <div class="row">  

			   <div class="col-lg-12">
                    {% for advertising in advertising_blog_Left %}  
                     
                     <a href="{{ advertising.url }}"> 
                       <img  class=".img-responsive" style="margin-top: 15px;" width="295"  height="200" 
                       src="/media/{{ advertising.image }}" /> 
                     </a>          

				     {% endfor %}

			    </div>	

		     </div>	

			</div>


			<div  style="margin-left:15px;" class="col-lg-8" >

			<div class="row">

			{% for article in articles %}   

				    <div class="row" style="margin-top: 20px;" >

				        <div class="col-lg-1">

				         {%  if article.image %} 

				           <img  width="70" height="70" src="/media/{{ article.image }}" />
				        {% else  %}
				           <img  width="70" height="70" src="/static/images/logo_w.png" />     

				        {% endif %}     

				       </div>

					   <div class="col-lg-10">

								<div  style="padding:1px 5px;border:solid #47BCC5 1px;margin-bottom:10px;margin-right:-50px;vertical-align:center;" >


						              <a href="/blog/list/{{ blog.pk }}/cat/{{article.category.pk}}/article/{{ article.pk }}">
						              <h4  style="font-weight: bold;" >{{ article.title }}</h4></a>


								</div>

								<p>{% autoescape off %}
								{% if article.brief_description %} {{ article.brief_description }} {% endif %}
								{% endautoescape %}</p>

				      </div>


					</div>


				{% endfor %}


			<ul class="pagination">       

                {% if articles.has_previous %}  
                <li><a href="?page=1">&laquo;</a></li>
                {% else %}
                <li class="disabled"><a href="#">&laquo;</a></li>
                {% endif %} 

                {% for num in articles.paginator.page_range %}
                {% ifequal num articles.number %}
                 <li class="active">
                 <a href="#">{{ num }}<span class="sr-only">(current)</span></a></li>
                 {% else %}
                <li><a href="?page={{ num }}">{{ num }}</a></li>
                {% endifequal %}
                {% endfor %}
                {% if articles.has_next %}
                <li><a href="?page={{ articles.paginator.num_pages }}">&raquo;</a></li>
                {% else %}
                <li class="disabled"><a href="#">&raquo;</a></li>
                {% endif %} 

            </ul>  

            </div>


            <div class="row">
            	
            	<div class="col-lg-8"> 


            	    {% for advertising in advertising_blog_bottom %}  

                       <a href="{{ advertising.url }}">
                       <img  class=".img-responsive" style="margin-top: 15px;" width="800"  height="150" 
                       src="/media/{{ advertising.image }}" />
                       </a>    

				     {% endfor %}    
            		

            	</div>  

            </div> 


			</div>




		</div>

	</div>



	<style type="text/css">

	.menu_blog > li > a:hover,
	.menu_blog> li > a:focus {
		text-decoration: none;
		background-color: #48B2BE;
		color:#FFFFFF;
	}

	body {

		background-color:#767070;
	}

	a,h1,h2,h3,h4 {  color:#FFFFFF;  }



	</style>




	{% endblock  %}
