{% extends 'base.html'  %}


{% block header  %}                    

{% endblock %}             


{% block content  %}


<div style="margin-top:100px;" class="container-fluid">  


	<div class="row-feed">             

		<div class="col-lg-1">

		<img  style="border-radius: 10px;" width="100" height="100" src="/media/{{ blog.image }}" /></div>

		<div class="col-lg-7">

				<div  style="border:solid #47BCC5 1px;text-align:center;margin-left:20px;vertical-align: center;" > 
				     <h3  style="font-weight: bold;" >{{ blog.title }}</h3> 
				</div>

        </div>       

		<div   class="col-lg-4">

				<form  action="/blog/list/{{ blog.pk }}/"  class="form">
					<!-- <input  name="search" placeholder="Поиск по разделу" type="text" class="form-control" >  -->
					<style media="screen">
					/* enable absolute positioning */
					.inner-addon {
						position: relative;
					}

					/* style icon */
					.inner-addon .glyphicon {
						position: absolute;
						padding: 10px;
						cursor: pointer
					}

					/* align icon */
					.left-addon .glyphicon  { left:  0px;}
					.right-addon .glyphicon { right: 0px;}

					/* add padding  */
					.left-addon input  { padding-left:  30px; }
					.right-addon input { padding-right: 30px; }
					</style>
					<div class="inner-addon left-addon">
						<input type="text" class="form-control" name="search" placeholder="Введите не менее 3 символов" />
						<i id="search" class="glyphicon glyphicon-search"></i>
					</div>
					<script type="text/javascript">
						jQuery(document).ready(function(){
							jQuery("#search").on("click", function(){
								jQuery(this).closest("form").submit();
							})
						})
					</script>

				</form>

		</div>
		
	</div>  

</div>   

<div class="container-fluid" >  


	<div   class="row">


	    <div  style="margin-left:20px;" class="col-lg-3"> 

	    <div class="row"> 


	      <h3 align="centr" style="text-align: center;font-weight: bold;" >Выберите категорию : </h3> 

			
				<ul class="nav nav-bar menu_blog" >  

					{% for cat in blog_cat %}

					<li class="blog-menu"  style="border:solid #47BCC5 1px; margin-bottom: 20px;" >
						<a   style="text-align:center;padding:1px 1px;" href="/blog/list/{{ blog.pk }}/cat/{{cat.pk}}/">
							<h3 style="margin:7px 0">{{ cat.title }}</h3>
						</a>
					</li>

					{% endfor %}

				</ul>

			    <style media="screen">
					ul.menu_blog li a{
						transition: all .5s;  
					}
				</style>
			</div>	


			<div class="row">  

			   <div class="col-lg-12">
                    {% for advertising in advertising_blog_Left %}  
                     
                     <a href="{{ advertising.url }}"> 
                       <img  class=".img-responsive" style="margin-top: 15px;" width="295"  height="200" 
                       src="/media/{{ advertising.image }}" /> 
                     </a>          

				     {% endfor %}

			    </div>	

		     </div>		

		 </div>


	   <div class="col-lg-8"  >
               

            <div class="row">   


				<div class="col-lg-10" style="padding:1px 5px;margin-bottom:10px;margin-right:-50px;vertical-align:center;" > 
				     <h2  style="font-weight: bold;" >{{ article.title }} </h2>     

				</div>          


				{% if article.document  %}
  

				<div class="col-lg-2" >   
				     <h4  style="font-weight: bold;" >
				     		<a download href="/media/{{article.document}}" > скачать документ</a>
				     </h4>
                </div>

                {% endif %}
				


			</div> 

			<div class="row"> 
			     <div class="col-lg-12">	      
            
                
               

                    {% autoescape off %} {{ article.descriptions }} {% endautoescape %}

                

                </div>

            </div>

             <div class="row">
            	
            	<div class="col-lg-8"> 


            	    {% for advertising in advertising_blog_bottom %}  

                       <a href="{{ advertising.url }}">
                       <img  class=".img-responsive" style="margin-top: 15px;" width="800"  height="150" 
                       src="/media/{{ advertising.image }}" />
                       </a>    

				     {% endfor %}    
            		

            	</div>

            </div> 


		</div>       



		</div>  


		

    </div>

</div>



<style type="text/css">

.menu_blog > li > a:hover,
.menu_blog> li > a:focus {       
  text-decoration: none;
  background-color: #48B2BE;
  color:#FFFFFF;
}

body {

	background-color:#767070;  
}    

a,h1,h2,h3,h4 {  color:#FFFFFF;  }

h4 >  a:hover {  color:#FFFFFF;    } 
h4 >  a:focus {  color:#FFFFFF;    }

/* p {  border: #fff solid 1px;  }  */    


</style>  

 


{% endblock  %}   
