{% extends 'base.html'  %}


{% block header  %}

{% endblock %}


{% block content  %}


<div style="margin-top:120px;" class="container-fluid">


	<div class="row">

		{% for blog_info in blog %}

		 <div  style="padding:0px 30px 0px 30px;" class="col-lg-4" onclick="this.querySelector('a').click()">


		    <div style="height:30vh;border-radius:25px;background-image:url('/media/{{ blog_info.image }}' );background-size:cover;cursor:pointer">

	            <div align="center" class="caption shadow-hover" style="display:inline-table">
									<p style="display:table-cell;vertical-align:middle;font-size:14pt">
										{{ blog_info.descriptions }}
									</p>
	            </div>

            </div>

           <div  style="margin-top:-18px;">

	        <a href="/blog/list/{{ blog_info.pk }}" style="text-align: center;text-decoration:none"><h3>{{ blog_info.title }}</h3></a>

	        </div>


	     </div>


		{% endfor %}

	</div>


</div>

<style type="text/css">

body {

	background-color:#767070;
}

a,h1,h2,h3,h4 {  color:#FFFFFF;  }

  a > h3:hover {     
      color: rgb(137, 217, 226);
    }

</style>


{% endblock  %}
