
{% extends 'base.html' %}    

{% block content %} 



<div  style="margin-top: 100px;align: center;" class="container-fluid" > 

  <div class="row">  

    <div class="col-lg-4"></div>
      
      <div class="col-lg-4">  
        <form   class="form" method='POST' action="/user/reset/actions/" >                 

          {% csrf_token %}      

          <input type="hidden" name="key_resset" value="{{ key_resset }}"  >

          <input type="hidden" name="mailto" value="{{ mailto }}" >              
          
          <div class="form-group">           
            <label >Введите новый пароль     
             <input type="password" class="form-control" id="password_reset" name="password" required >  
            </label>
          </div> 

          <div class="form-group">                  
            <label >Повторите  пароль    
              <input type="password" class="form-control" id="remember_password_reset" required >
              <p style="display:none;color:red;" class="help-block" id="help_password_reset" >Пароли не совпадают.</p>   
            </label>
          </div>           

          <input style="display:none;" id="reset_form_pass" class="btn btn-primary" type="submit" value="Сохранить!"  > 


        </form>            
      </div>

      <div class="col-lg-4"></div>

  </div>  

</div>


<script type="text/javascript">

  $(document).ready(function(){     
  
      $('#remember_password_reset').on('keyup change',function(){  

        $pass = $('#password_reset').val();

        if($(this).val()!==$pass){         

           $('#help_password_reset').show();
           $(this).css({"border":"solid red 1px"});
           $('#password').css({"border":"solid red 1px"});
           $('#reset_form_pass').hide();
        
        }

        else{ 

           $('#help_password_reset').hide();          
           $(this).css({"border":"none"});
           $('#password').css({"border":"none"});
           $('#reset_form_pass').show();  

         }    

        // console.log($(this).val());     
       

      });

});  


</script>

<style type="text/css">

body {

  background-color:#767070;
}


</style>

{% endblock %}          
   			
