
{% extends 'base.html' %}       

{% block content %} 

<div  style="margin-top: 100px;" class="container" >         

    
  <form  class="form" method='POST' action="" >      

    {% csrf_token %}    

         <input type="hidden" class="form-control" name="fio" value="{{ UserIndivision_info.type_user }}"  >

                  
          <div class="form-group">             
            <label >Ф.И.О </label>    
              <input type="text" class="form-control" name="fio" value="{{ UserIndivision_info.fio }}" required >  
            
          </div>
   

          <div class="form-group">           
            <label >Телефон </label>     
              <input type="text" class="form-control" name="phone" value="{{ UserIndivision_info.phone }}" required >  
            
          </div> 


          <div class="form-group">           
            <label >Адрес электронной почты</label>      
              <input type="text" class="form-control" name="email" value="{{ UserIndivision_info.email }}" required >  
            
          </div>   



    <input  class="btn btn-primary" type="submit" value="Сохранить!"  >


  </form> 

</div>

<style type="text/css">

body {

  background-color:#767070;
}


</style>

{% endblock %}          
   			
