
{% extends 'base.html' %}    

{% block content %}  

<div  style="margin-top: 100px;" class="container" > 

    
    <form  class="form" method='POST' action="" >    

      {% csrf_token %}     


      <input type="hidden" class="form-control" name="fio" value="{{ UserIndivision_info.type_user }}"  >  

          <div class="form-group">             
            <label >Ф.И.О </label>    
              <input type="text" class="form-control" name="fio" value="{{ UserIndivision_info.fio }}" required >  
            
          </div>
   

          <div class="form-group">           
            <label >Телефон </label>     
              <input type="text" class="form-control" name="phone" value="{{ UserIndivision_info.phone }}" required >  
            
          </div> 


          <div class="form-group">           
            <label >Адрес электронной почты</label>      
              <input type="text" class="form-control" name="email" value="{{ UserIndivision_info.email }}" required >  
            
          </div>    
                 

      <div class="form-group">           
        <label >Наименования компании </label>
          <input type="text" class="form-control" name="name_company" value="{{ UserIndivision_info.name_company }}" required >  
      </div>             

      <div class="form-group">                    
        <label >Форма собственности </label>     
          <input type="text" class="form-control" name="form_ownership" 
          value="{{UserIndivision_info.form_ownership}}" required >    
      </div>  

      <div class="form-group">                     
        <label >Данные ОГРН  </label>   
          <input type="text" class="form-control" name="ogrn" value="{{UserIndivision_info.ogrn}}" required >         
      </div> 

      <div class="form-group">                     
        <label >ИНН  </label>   
          <input type="text" class="form-control" name="nnn" value="{{UserIndivision_info.nnn}}" required >      
      </div> 

      <div class="form-group">                     
        <label >Юр адрес  </label>   
          <input type="text" class="form-control" name="addres" value="{{UserIndivision_info.addres}}" required >         
      </div> 


      <input  class="btn btn-primary" type="submit" value="Сохранить!"  >


    </form> 

</div>

<style type="text/css">

body {

  background-color:#767070;
}


</style>

{% endblock %}          
   			
