<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Письмо для восстановление доступа для сайта https://sobstvennik23.ru</title>     
</head>
<body>   

	<h2>Уважаемый пользователь sobstvennik23.ru !</h2>    

	<p>            
		
	Для восстановления доступа к Вашей учетной записи sobstvennik23.ru Вам необходимо  перейти по ссылке 

	https://{{ addres_site }}/user/reset/password/user/key/?key_reset={{ key }}&mailto={{ user_mail }}                         

	Перейдя по ссылки Вы сможете сменить свой пароль.  

	Если Вы не отправляли запрос на восстановление пароля, тогда проигнорируйте это письмо.  

	</p>              

	<h3>С уважением,Администрация сайта sobstvennik23.ru. Обратная связь - mail@sobstvennik23.ru</h3>             


	
</body>
</html>