<!-- модаль регистрации -->            
<div    id="reg-form" class="modal fade">           
  <div  class="modal-dialog">
    <div style="background-color:#ccc;" class="modal-content">
      <div style="background-color:#000;" class="modal-header">
        <button style="color:#89D9E2;" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">  
            <img  width="250" height="50" src="/static/images/logo.png">       
            <img  style="display:none;"  id="loader"  width="50"  height="50" src="/static/images/loader.gif">
        </h4>
      </div>

      <div class="modal-body">    

      <!-- навигация -->
      <ol class="breadcrumb">    
          <li><a  id="view_login" style="color:#f0ad4e;"  href="#">Вход</a></li>
          <li><a  id="view_reg"   style="color:#ccc;"   href="#">Зарегистрироваться</a></li>
          <li><a  id="view_reset_password"   style="color:#ccc;"   href="#">Забыли пароль?</a></li>
      </ol>
      <!-- навигация -->

      <!--  форма входа   -->   
      <form  style="padding:0px 40px 40px 40px;" id="login_form" method="POST" action="/user/login/" class="form">

          {% csrf_token %}          

          <div class="form-group">      
            <label>Логин</label>   
            <input type="text" class="form-control" name="email" >
          </div>
          <div class="form-group">          
            <label>Пароль</label>        
            <input type="password" class="form-control" name="password" >
          </div>

          <div class="form-group">    
              <input  class="btn btn-primary" type="submit" value="Войти!"  >
          </div>      

          <div style="display:none;" id="alert-login" class="alert alert-danger alert-dismissible fade in" role="alert" >
             <span id="aler-login-text" > </span><br>
          </div> 

      </form> 
      <!--  форма входа   -->      

      <!--  форма востоновления   -->   
      <form  style="display:none;padding:0px 40px 40px 40px;" id="reset_password_form" 
       action="/user/reset/password/" method="POST" class="form">

       {% csrf_token %}

          <div class="form-group">    
            <label>Введите Вашу почту при регистрации</label>    
            <input type="text" class="form-control" name="email" >   
          </div>

          <div class="form-group">    
              <input  class="btn btn-primary" type="submit" value="Восстановить!"  >
          </div> 

          <div 
          style="display:none;" id="alert-reset-success" class="alert alert-success alert-dismissible fade in" role="alert" >
             <span id="aler-reset-success-text" > </span><br>    
          </div>         

          <div style="display:none;" id="alert-reset" class="alert alert-danger alert-dismissible fade in" role="alert" >
             <span id="aler-reset-text" > </span><br>  
          </div> 

      </form> 
      <!--  форма востоновления  -->


      <!-- форма регистрации -->           
      <form style="display:none;padding:0px 40px 40px 40px;"  
      id="form_reg" class="form center-block" method="POST" action="/user/registration/">

         {% csrf_token %}  


          <div class="form-group">                    

            <label>Кто вы ?                     
             <select  id="type_user" name="type_user" class="form-control" >  

                <option value="UserIndividual">Физическое лицо</option>
                <option value="UserCompany">Юридическое лицо</option>

             </select>  
             </label>     

          </div>     


          <div class="form-group">           
            <label >Ф.И.О </label>    
              <input type="text" class="form-control" name="fio"  >  
            
          </div>
   

          <div class="form-group">           
            <label >Телефон </label>     
              <input type="text" class="form-control" name="phone"  >  
            
          </div> 


          <span style="display:none"  id="your" >

             <div class="form-group">           
                <label >Наименование компании</label>     
                  <input type="text" class="form-control" name="name_company"  >  
                
            </div>    


            <div class="form-group">           
                <label >Форма собственности </label>     
                  <input type="text" class="form-control" name="form_ownership"  >  
                
            </div> 

            <div class="form-group">           
                <label >Данные ОГРН  </label>   
                  <input type="text" class="form-control" name="ogrn"  >  
                
            </div> 


            <div class="form-group">                         
                <label >ИНН </label>     
                  <input type="text" class="form-control" name="nnn"  >  
                
            </div> 

            <div class="form-group">           
                <label >Юридический адрес</label>            
                  <input type="text" class="form-control" name="addres"  >  
                
            </div> 
    
        </span>                  


       
          <div class="form-group">           
            <label >Адрес электронной почты</label>    
              <input type="text" class="form-control" name="email"  >  
            
          </div>     

          <div class="form-group">   

            <label >Пароль</label>    
              <input type="password" class="form-control" id="password" name="password"  >    
            
          </div>

          <div class="form-group">    
                         
            <label >Повторите пароль </label>               
              <input type="password" class="form-control" id="remember_password"  >
              <p style="display:none;color:red;" class="help-block" id="help_password" >Пароли не совпадают.</p>    
            
          </div>              
          
          <div class="form-group">
             <input  class="btn btn-primary" type="submit" value="Зарегистрироваться!"  >
          </div>   

          <p>Использование сайта, в том числе размещение объявлений и регистрация, означает согласие с 
          <a href="/blog/list/7/cat/18/article/18/">Пользовательским соглашением.</a></p>  

          <div 
          style="display:none;" id="alert-reg-success" class="alert alert-success alert-dismissible fade in" role="alert" >
             <span id="aler-reg-success-text" > </span><br>    
          </div>         

          <div style="display:none;" id="alert-reg" class="alert alert-danger alert-dismissible fade in" role="alert" >
             <span id="aler-reg-text" > </span><br>
            <span id="error-text-empty" > </span><br>
            <span id="error-text-Pattern" > </span><br>      
          </div>  


         </form>
         <!-- форма регистрации -->  
      
      </div>


      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Закрыть</button>

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script type="text/javascript">  
  
  $('#remember_password').on('keyup change',function(){

    $pass = $('#password').val();

    if($(this).val()!==$pass){   

       $('#help_password').show();
       $(this).css({"border":"solid red 1px"});
       $('#password').css({"border":"solid red 1px"});
    
    }

    else{ 

       $('#help_password').hide();          
       $(this).css({"border":"none"});
       $('#password').css({"border":"none"});   

     }    

    // console.log($(this).val());   
   

  });


</script>