<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">      
	<title>Document</title>    

   <script src="/static/js/jquery-2.1.1.js"  ></script>  
   <script src="/static/js/bootstrap.min.js"  ></script>
   <script src="/static/js/ajaxForm.js"  ></script>
   <script src="/static/js/bootstrap-multiselect.js"  ></script>
   <script src="/static/js/addForm.js"  ></script>    

   <link rel="stylesheet" href="/static/css/bootstrap.css">
   <link rel="stylesheet" href="/static/css/bootstrap-multiselect.css">
   <link rel="stylesheet" href="/static/css/customaddform.css">

   <style type="text/css">     
      
      body    { padding-top: 100px; }        

   </style> 


</head>      
<body>

<!--верхнее меню-->

    <div class="navbar navbar-fixed-top navbar-default" role="navigation">
      <div class="container">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>     

          <a  style="font-size:23px; color:#000;" class="navbar-brand" href="/user/">
          <i class="fa fa-bar-chart"></i>
          Личный кабинет</a>
         </div>  


        <div class="collapse navbar-collapse">  

          <ul class="nav navbar-nav">

          {% if user_data.is_active %}     

            <li ><a href="/calls/">Реклама</a></li>
            <li ><a href="/calls/logsCalls/">Тарифы</a></li>
            <li ><a href="/calls/group/">Акции</a></li>  
            <li ><a href="/calls/schedules/">Новости</a></li>
            <li ><a href="/calls/schedules/">Задать вопрос ?</a></li>
            <li ><a href="/calls/users/">Баланс (0).руб</a></li>

          {% else %}

            <li class="disabled" ><a href="#">Реклама</a></li>
            <li class="disabled" ><a href="#">Тарифы</a></li>
            <li class="disabled" ><a href="#">Акции</a></li>  
            <li class="disabled" ><a href="#">Новости</a></li>
            <li class="disabled" ><a href="#">Задать вопрос ?</a></li>
            <li class="disabled" ><a href="#">Баланс (0).руб</a></li>

          {% endif %}         
            
         </ul>  

         <ul class="nav navbar-nav navbar-right">

           <li class="dropdown">        
             <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">  
               {{ user_data.email }} <span class="caret"></span></a>
             <ul class="dropdown-menu">
               <li><a href="/user/layout/">Выйти</a></li>
             </ul>    
           </li>

         </ul>  


        </div>   
 
      </div><!-- /.container -->


    </div>   

    <!--верхнее меню-->   

<div class="container-fluid">    
    <div class="row">

      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">  
      <!--Меню--> 
      <nav  style="

            position: fixed;
            top: 13%;
            bottom: 0;
            z-index: 1030;
            overflow-y: auto;
            border-radius: 0;
            width:300px; 


      "    
      class="nav navbar " >  
        <ul class="nav sidebar-nav">
        {% if user_data.is_active %}                  

          <li><a href="/user/addinfo/" class="active">Контактные данные</a></li>
          <li ><a href="/user/addadvt/">Подать объявление</a></li>    
          <li><a href="/contents/prodazha/">Мои объявления <span class="badge">42</span></a></li> 
          <li><a href="/" class="active">Метрика</a></li> 
          <li><a href="/" class="active">Оповищения <span class="badge">42</span></a></li>

        {% else %}                  

          <li><a href="/" class="active">Контактные данные</a></li>
          <li class="disabled" ><a href="#">Подать объявление</a></li>    
          <li class="disabled" ><a href="#">Мои объявления <span class="badge">42</span></a></li> 
          <li class="disabled" ><a href="#">Метрика</a></li> 
          <li class="disabled" ><a href="#">Оповищения <span class="badge">42</span></a></li> 

        {% endif %}  
        </ul>      
      </nav>  
      <!--Конец Меню-->        

      </div>  
      
      <!--Контент--> 
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-6"> 

      {% block content %}{% endblock %}
        
      
      </div>      
      <!--Контент--> 
      

    </div>  
</div>      

 

   
</body>
</html>
