
{% extends 'profil.html' %}    

{% block content %}
           
<form  class="form" method='GET' action="">       

  <div class="form-group">           
    <label >имя  
      <input type="text" class="form-control" name="frist_name" >  
    </label>
  </div>     

  <div class="form-group">                
    <label >фамилия    
      <input type="text" class="form-control" name="last_name" >  
    </label>
  </div>

  <div class="form-group">                   
    <label >телефон    
      <input type="text" class="form-control" name="phone" >         
    </label>
  </div>   

  <input  class="btn btn-primary" type="submit" value="Сохранить!"  >


</form> 

{% endblock %}          
   			
