<!DOCTYPE html>
<html lang="en">
<head>    
	<meta charset="UTF-8">     
	<title>Вы успешно зарегистрировались на sobstvennik23.ru</title>   
</head>
<body>                       

<h1>Здравствуйте {{ fio }} !</h1>            

<p>

<h2>Вы успешно зарегистрировались на {{ addres_site }} <h2> 

<h2>Ваши регистрационные данные:</h2>

Логин: {{ login }}<br>

Пароль: {{ password }}<br>

Для завершения регистрации необходимо подтвердить ее, перейдя по ссылке:

https://{{ addres_site }}/user/ectivemail/?key_active={{ key_active }}   

Сообщение сгенерировано сайтом автоматически, отвечать на него не нужно!   

</p>    

<h3>С уважением,Администрация сайта sobstvennik23.ru. Обратная связь - mail@sobstvennik23.ru</h3>                  


	
</body>
</html>