{% if user_info == None %}              

  <a href="/realt/addadvt/" class="btn btn-default navbar-btn ">Подать объявление</a>

  <button type="button"  data-toggle="modal" data-target="#reg-form" class="btn btn-default navbar-btn ">
   Личный кабинет
  </button> 

 {% else %}                                          

    <ul class="nav navbar-nav">                  
     <li class="dropdown">            
       <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">  
         {{ user_info.email  }} 

      <span class="caret"></span></a>
       <ul class="dropdown-menu">    

      {% if user_info.type_user == 'UserIndividual' %}   
        <li><a href="/realt/mylist/">Мои объявления</a></li>
        <li role="separator" class="divider"></li>  
        <li><a href="/realt/addadvt/" class="active">Подать объявление</a></li>
        <li role="separator" class="divider"></li>
      {% endif %}  
        <!-- <li><a href="/" class="active">Оповищения <span class="badge">42</span></a></li> -->
<!--                    <li role="separator" class="divider"></li> 
        <li><a href="/" class="active">Баланс <span class="badge">0</span></a></li> -->
          
        <li><a href="/user/addinfo/">Контактные данные</a></li>
         <li role="separator" class="divider"></li> 
<!--         <li><a href="#">Оплаченные Тарифы <span class="badge">0</span> </a></li>
         <li role="separator" class="divider"></li>  -->

        <li><a href="/user/layout/">Выйти</a></li>

       </ul>      
     </li>
    </ul> 

 {% endif %}  