{% csrf_token %}  

<input type="hidden" name="type_object"  value="Land" >    


  <!-- адрес -->
  <div class="form-group">
    

        <label style="width:150px;" >Микрорайон города                         

         <select id="type_house" name="microdistrict" class="costom-select-area-add"  > 

         <option value="" >Не выбрано</option>                      

            {%  for microdistric in form.fields.microdistrict.queryset %}  

                <option value="{{ microdistric.pk }}">{{ microdistric.title }}</option>

            {% endfor %}    

         </select>      
      </label>
</div> 

<div class="form-group">
  
      <label style="width: 150px;" >Улица                                   

       <input type="text" class="form-control" name="street" >

     </label>


     <label style="width: 150px;" >Дом                                  

       <input type="text" class="form-control" name="house" >  

     </label>  

 
</div>
 <!-- адрес -->                                                              

    <div class="form-group">                                                          
 
    <label style="width:150px;">     
    <span style="color:#FF6258;" class="glyphicon glyphicon-asterisk"></span>Тип сделки      

     <select id="swich_transaction"  name="type_transaction" class="costom-select" >   

        <option value="" >Не выбрано</option>              

        {%  for key,value in form.fields.type_transaction.choices %}
                 
          {% if key %}   
            <option value="{{ key }}">{{ value }}</option>
          {% endif %}       
              

        {% endfor %}                  

     </select>
    </label>
 
    <span  style="display:none;" id="deadline" >                                                      
 
    <label style="width:150px;" >Период аренды                         

     <select  name="deadline" class="costom-select" >  

        <option value="" >Не выбрано</option>                

        {%  for deadline in form.fields.deadline.queryset %}  

          <option value="{{ deadline.pk }}">{{ deadline.title }}</option>

        {% endfor %}    

     </select>
   </label>        

  </span>

  </div>

  <div class="form-group"> 


    <label style="width:150px;" >Категория земельного участка                                

     <select  name="category_land" class="costom-select" > 

         <option value="" >Не выбрано</option>              

        {%  for category_land in form.fields.category_land.queryset %}  

            <option value="{{ category_land.pk }}">{{ category_land.title }}</option>

        {% endfor %}          

     </select> 
    </label>   

    <label style="width:150px;">Кадастровый номер                                  
        <input type="text" class="form-control" name="cadastral_number" > 
    </label>    

 </div> 

 <h3>Параметры земельного участка</h3>    

 <div class="form-group">
 	
    <label  style="width:150px;" >Размер земельного участка  в сотках                                               
 
        <input type="text" class="form-control" name="total_area" >   

    </label>     


    <label  style="width:150px;" >Растояние до города км                                                 
 
        <input type="text" class="form-control" name="distance_town" > 

    </label>



 </div>


 <h3>Коммуникации</h3> 


  <div class="form-group">

    <label style="width:150px;" >Электричество                                  

     <select  name="electricity" class="costom-select" >  

         <option value="" >Не выбрано</option>             

        {%  for electricity in form.fields.electricity.queryset %}  

            <option value="{{ electricity.pk }}">{{ electricity.title }}</option>

        {% endfor %}          

     </select> 
    </label> 

     <label style="width:150px;"  >Водоснабжение                             

     <select  name="water_supply" class="costom-select" >  

        <option value="" >Не выбрано</option>             

        {%  for water_supply in form.fields.water_supply.queryset %}  

            <option value="{{ water_supply.pk }}">{{ water_supply.title }}</option>

        {% endfor %}          

     </select>   
    </label> 

    <label style="width:150px;" >Канализация                                

     <select  name="sewage" class="costom-select" >  

        <option value="" >Не выбрано</option>             

        {%  for sewage in form.fields.sewage.queryset %}  

            <option value="{{ sewage.pk }}">{{ sewage.title }}</option>

        {% endfor %}          

     </select> 
    </label>  

</div>       


    <div class="form-group">                                                          
   
      <label style="width:250px;">Дополнительные сведения</label>                                        
   
       <textarea  class="form-control" name="descriptions" ></textarea>      

    </div>


    <div class="form-group">                                                                              
      
      <input style="display:none;" type="file" class="form-control" id="file-input" multiple > 

      <input type="button"   id="bth-file" class="btn btn-primary"  value="Загрузить фото!" >
      <strong>Допустимое количество фото -  5!</strong>

    </div> 

    <div  id="canvas_list"></div>    



    <h3>Условия сделки</h3>   


    <div class="form-group">                                                        
   
     <label style="width:150px;">Цена                           
   
       <input type="text" class="form-control" name="price"  > 

     </label>   


                                                      
      <label style="width:150px;">Торг                        

       <input type="checkbox"  name="bargain" >

     </label>

     <label style="width:150px;" >Залог                               
   
       <input type="text" class="form-control" name="deposit"  >   

     </label>           

    </div>
   

    


<!-- кнопка + инфо  -->
<div class="form-group">                           

  <div class="row">     

      <div class="col-lg-2">

       <input  class="btn btn-primary" type="submit" value="Добавить!"  > 

      </div>   

      <div class="col-lg-8">
          <div   class="progress">         
          
                <div id="progress-bar"  class="progress-bar"  
                    aria-valuemin="0" 
                    aria-valuemax="100" 
                    style="width:0%;

                ">
                  <span id="procent-bar" > </span>
                </div>

          </div>
      </div> 
    
  </div>

  <div class="row">

  <div class="col-lg-12">      

      <div style="display:none;" id="alert-error-form" class="alert alert-danger alert-dismissible fade in" role="alert" >
          <span id="error-text-empty" > </span><br>
          <span id="error-text-images" > </span><br>
          <!-- <span id="error-text-Pattern" > </span><br> -->
      </div>

     </div>
</div>          


</div> 
<!-- кнопка + инфо  -->

  </div>

</div>


<script type="text/javascript">
  
  $(document).ready(function(){


    $("#canvas_list").sortable();


  });

</script>  



