{% csrf_token %}  

  <!-- адрес -->
  <div class="form-group">
    

        <label style="width:150px;" >Микрорайон города                         

         <select id="type_house" name="microdistrict" class="costom-select-area-add"  > 

         <option value="" >Не выбрано</option>                      

            {%  for microdistric in form.fields.microdistrict.queryset %}  

                <option value="{{ microdistric.pk }}">{{ microdistric.title }}</option>

            {% endfor %}    

         </select>      
      </label>
</div> 

<div class="form-group">
  
      <label style="width: 150px;" >Улица                                   

       <input type="text" class="form-control" name="street" >

     </label>


     <label style="width: 150px;" >Дом                                  

       <input type="text" class="form-control" name="house" >  

     </label>  

</div>
 <!-- адрес -->   

<div class="form-group">                                                        
 
    <label style="width:150px;">   
    <span style="color:#FF6258;" class="glyphicon glyphicon-asterisk"></span>Тип сделки      

     <select id="swich_transaction"  name="type_transaction" class="costom-select" >   

        <option value="" >Не выбрано</option>            

        {%  for key,value in form.fields.type_transaction.choices %}
                 
          {% if key %}   
            <option value="{{ key }}">{{ value }}</option>
          {% endif %}       
              

        {% endfor %}    

     </select>
    </label>

    <span  style="display:none;" id="deadline" >                                                      
 
    <label style="width:150px;" >Период аренды                         

     <select  name="deadline" class="costom-select" > 

        <option value="" >Не выбрано</option>                 

        {%  for deadline in form.fields.deadline.queryset %}  

          <option value="{{ deadline.pk }}">{{ deadline.title }}</option>

        {% endfor %}    

     </select>
   </label>        

  </span>   
    

  </div>


  <h3>Параметры земельного участка</h3>   

  <div class="form-group">

    <label  style="width:150px;" >Размер земельного участка  в сотках                                                 
 
        <input type="text" class="form-control" name="land_area" > 

    </label>
 

    <label style="width:150px;" >Категория земельного участка                                

     <select  name="category_land" class="costom-select" >   

        <option value="" >Не выбрано</option>              

        {%  for category_land in form.fields.category_land.queryset %}  

            <option value="{{ category_land.pk }}">{{ category_land.title }}</option>

        {% endfor %}          

     </select> 
    </label>    


  </div>

  <h3>Параметры дома</h3>   


  <div class="form-group"> 


    <label style="width:150px;" >Вид объекта                     

       <select id="type_house" name="type_object" class="costom-select" > 

           <option value="" >Не выбрано</option> 
           <option value="House" >Дом</option>              
           <option value="Dacha" >Дача</option>              
           <option value="Part_of_house" >Часть дома</option>              
           <option value="Apart_of_house" >Частичка дома</option>              
           <option value="Vremyanka" >Времянка</option> 
           <option value="Townhouse" >Таунхаус</option> 
           <option value="Duplex" >Дуплекс</option> 
           <option value="Cottage" >Коттедж</option>     
       </select>  
    </label>                                                     
                                                     
 
    <label style="width:150px;" >Тип дома                   

       <select id="type_house" name="type_house" class="costom-select" >  

           <option value="" >Не выбрано</option>             

          {%  for type_house in form.fields.type_house.queryset %}  

              <option value="{{ type_house.pk }}">{{ type_house.title }}</option>

          {% endfor %}    

       </select>  
    </label>
                                                     
 
    <label style="width:150px;" >Год постройки                                     

      <input type="text" class="form-control" name="year_construction" >

    </label> 

   </div>   
 

   <div class="form-group">     
                                                     
 
    <label style="width:150px;" >Количество комнат                 

     <select  name="number_rooms" class="costom-select" >  

         <option value="" >Не выбрано</option>             

        {%  for number_rooms in form.fields.number_rooms.queryset %}  

            <option value="{{ number_rooms.pk }}">{{ number_rooms.title }}</option>

        {% endfor %}    

     </select> 
    </label> 

         
      <label style="width:150px;">Этажность                                    
          <input type="text" class="form-control" name="storey" > 
      </label>  



   </div>

   <div class="form-group">    

    <label style="width:150px;">Площадь Общая                                
        <input type="text" class="form-control" name="total_area" > 
   </label>                                                                      
 

    <label style="width:150px;">Площадь Жилая                                 
      <input type="text" class="form-control" name="living_area" >
    </label> 

    <label style="width:150px;" >Площадь  Кухня                               
       <input type="text" class="form-control" name="kitchen_area" >
    </label> 


  </div> 

 <div class="form-group">   

	<div class="btn-group" data-toggle="buttons"  >                                               

	    <label class="btn btn-default" >
	    	<input type="checkbox"  name="security" >Охрана  
	    </label>

	    <label class="btn btn-default"  >
	    	<input type="checkbox"  name="banya" > Баня
	    </label>

	    <label class="btn btn-default" >
	    	 <input type="checkbox"  name="garage" > Гараж
	    </label>

	   	<label class="btn btn-default"  >
	    	 <input type="checkbox"  name="pool" > Бассейн
	    </label> 

	    <label class="btn btn-default" >  
	    	 <input type="checkbox"  name="outbuildings" > Хозяйственные постройки
	    </label> 

	</div> 

  </div>

      
   
   <div class="form-group"> 


    <label style="width:150px;" >Ремонт                  

     <select   name="pepairs" class="costom-select"   > 

        <option value="" >Не выбрано</option>              

        {%  for pepairs in form.fields.pepairs.queryset %}  

            <option value="{{ pepairs.pk }}">{{ pepairs.title }}</option>

        {% endfor %}    

     </select> 
    </label> 

    <label style="width:150px;">Санузел                 

     <select  name="toilet" class="costom-select" >   

         <option value="" >Не выбрано</option>            

        {%  for toilet in form.fields.toilet.queryset %}  

            <option value="{{ toilet.pk }}">{{ toilet.title }}</option>

        {% endfor %}    

     </select>
    </label>  

    </div>

    <div class="form-group">


    <label style="width:150px;"> Бытовая техника                           

     <select name="appliances" class="multi_select_b" multiple="true"  >              

        {%  for appliances in form.fields.appliances.queryset %}  

            <option value="{{ appliances.pk }}">
            {{ appliances.title }}</option>

        {% endfor %}           

     </select>
    </label>  


    <label style="width:150px;">Наличие мебели                           

     <select name="presence_furniture" class="costom-select" >  

        <option value="" >Не выбрано</option>                       

        {%  for presence_furniture in form.fields.presence_furniture.queryset %}  

            <option value="{{ presence_furniture.pk }}">
            {{ presence_furniture.title }}</option>

        {% endfor %}         

     </select>   
    </label>  
     


     
  </div>

  <h3>Инженерные коммуникации</h3>


  <div class="form-group">  


    <label style="width:150px;" >Электричество                                  

     <select  name="electricity" class="costom-select" >  

         <option value="" >Не выбрано</option>             

        {%  for electricity in form.fields.electricity.queryset %}  

            <option value="{{ electricity.pk }}">{{ electricity.title }}</option>

        {% endfor %}          

     </select> 
    </label> 

    <label style="width:150px;">Отопление                                 

     <select  name="heating" class="costom-select" >  

        <option value="" >Не выбрано</option>             

        {%  for heating in form.fields.heating.queryset %}  

            <option value="{{ heating.pk }}">{{ heating.title }}</option>

        {% endfor %}          

     </select> 
    </label>                                                                 
 
    <label style="width:150px;" >Канализация                                

     <select  name="sewage" class="costom-select" >  

         <option value="" >Не выбрано</option>             

        {%  for sewage in form.fields.sewage.queryset %}  

            <option value="{{ sewage.pk }}">{{ sewage.title }}</option>

        {% endfor %}          

     </select> 
    </label> 
                                                              
 
    <label style="width:150px;"  >Водоснабжение                             

     <select  name="water_supply" class="costom-select" >   

         <option value="" >Не выбрано</option>            

        {%  for water_supply in form.fields.water_supply.queryset %}  

            <option value="{{ water_supply.pk }}">{{ water_supply.title }}</option>

        {% endfor %}          

     </select> 
    </label>         
                                                            
      

  </div>  


    <div class="form-group">                                                          
   
      <label style="width:250px;">Дополнительные сведения</label>                                        
   
       <textarea  class="form-control" name="descriptions" ></textarea>      

    </div>


    <div class="form-group">                                                                              
      
      <input style="display:none;" type="file" class="form-control" id="file-input" multiple > 

      <input type="button"   id="bth-file" class="btn btn-primary"  value="Загрузить фото!" >
      <strong>Допустимое количество фото -  5!</strong>

    </div> 

    <div  id="canvas_list"></div>    



    <h3>Условия сделки</h3>   


    <div class="form-group">                                                        
   
     <label style="width:150px;">Цена                           
   
       <input type="text" class="form-control" name="price"  > 

     </label>   


                                                      
      <label style="width:150px;">Торг                        

       <input type="checkbox"  name="bargain" >

     </label>

     <label style="width:150px;" >Залог                               
   
       <input type="text" class="form-control" name="deposit"  >   

     </label>           

    </div>     
   

    

<!-- кнопка + инфо  -->
<div class="form-group">                           

  <div class="row">     

      <div class="col-lg-2">

       <input  class="btn btn-primary" type="submit" value="Добавить!"  > 

      </div>   

      <div class="col-lg-8">
          <div   class="progress">         
          
                <div id="progress-bar"  class="progress-bar"  
                    aria-valuemin="0" 
                    aria-valuemax="100" 
                    style="width:0%;

                ">
                  <span id="procent-bar" > </span>
                </div>

          </div>
      </div> 
    
  </div>

  <div class="row">

  <div class="col-lg-12">      

      <div style="display:none;" id="alert-error-form" class="alert alert-danger alert-dismissible fade in" role="alert" >
          <span id="error-text-empty" > </span><br>
          <span id="error-text-images" > </span><br>
          <!-- <span id="error-text-Pattern" > </span><br> -->
      </div>

     </div>
</div>          


</div> 
<!-- кнопка + инфо  -->

  </div>

</div>


<script type="text/javascript">
  
  $(document).ready(function(){


    $("#canvas_list").sortable();


  });

</script>  

     

