{% extends 'base.html'  %}          

{% block content  %}  

<div  style="margin-top:120px;" class="container-fluid">  

  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>

  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-6 ">   
      
     <div class="form-group">           

          <div class="btn-group" data-toggle="buttons"  >                                               

  	        <label class="btn btn-default group_t active" data-value="1" >
  	        	<input type="radio"  >Жилая недвижимость  
  	        </label>
  	        <label class="btn btn-default group_t" data-value="2" >
  	        	<input type="radio"   >Коммерческая недвижимость
  	        </label>
  	        <label class="btn btn-default group_t" data-value="3" >
  	        	<input type="radio"   >Земельные участки
  	        </label>  
  	          
          </div>               

      </div>     

                                              

     <div class="form-group">          

                                                                
      <label>Тип недвижимости</label><br>

       <select  id="swich_form"  name="type_object" > 

       	    <option  value="Room">Комната</option>
  	        <option  value="Apartment">Квартира</option>
  	        <option  value="HouseDachaCottage">Дом.Дача.Коттедж</option>

       </select>      
   
     </div> 


  <form  id="add_object_form" class="form" method='POST' action="" enctype="multipart/form-data"  > 

 

  <span id="form-content" >   

    <!-- адрес -->
  <div class="form-group">
    

        <label style="width:150px;" >Микрорайон города                         

         <select id="type_house" name="microdistrict" class="costom-select-area-add"  > 

         <option value="" >Не выбрано</option>                      

            {%  for microdistric in form.fields.microdistrict.queryset %}  

                <option value="{{ microdistric.pk }}">{{ microdistric.title }}</option>

            {% endfor %}    

         </select>      
      </label>
</div> 

<div class="form-group">
  
      <label style="width: 150px;" >Улица                                   

       <input type="text" class="form-control" name="street" >

     </label>


     <label style="width: 150px;" >Дом                                  

       <input type="text" class="form-control" name="house" >  

     </label>  

          <label style="width: 150px;" >Квартира                                   

       <input type="text" class="form-control" name="apartment" >   

     </label>  
</div>
 <!-- адрес -->                                                                                          


    {% csrf_token %}    


    <input type="hidden" name="type_object"  value="Room" >


         
    
      <div class="form-group">                                                        
   
      <label style="width:150px;">
      <span style="color:#FF6258;" class="glyphicon glyphicon-asterisk"></span>Тип сделки      

       <select id="swich_transaction"  name="type_transaction" class="costom-select" >

          <option value="" >Не выбрано</option>              

          {%  for key,value in form.fields.type_transaction.choices %}
                   
            {% if key %}   
              <option value="{{ key }}">{{ value }}</option>  
            {% endif %}       
                

          {% endfor %}    

       </select>
      </label>

      <span  style="display:none;" id="deadline" >                                                      
   
      <label style="width:150px;" >Период аренды                         

       <select  name="deadline" class="costom-select" > 

          <option value="" >Не выбрано</option>                

          {%  for deadline in form.fields.deadline.queryset %}  

            <option value="{{ deadline.pk }}">{{ deadline.title }}</option>

          {% endfor %}    

       </select>
     </label>        

    </span>   
      

    </div>

    <h3>Параметры дома</h3>


    <div class="form-group">                                                      
                                                       
   
      <label style="width:150px;" >Тип дома                   

  	     <select id="type_house" name="type_house" class="costom-select" > 

         <option value="" >Не выбрано</option>             

  	        {%  for type_house in form.fields.type_house.queryset %}  

  	            <option value="{{ type_house.pk }}">{{ type_house.title }}</option>

  	        {% endfor %}    

  	     </select>      
      </label>
                                                       

    </label>    

    <label style="width:150px;" >Год постройки                                     

       <input type="text" class="form-control" name="year_construction" >

    </label>      
     </div>   

     <h3>Параметры комнаты</h3>   

     <div class="form-group"> 


      <label style="width:150px;" >Комната в                  

       <select  name="stay_in" class="costom-select" >  

       <option value="" >Не выбрано</option>            

          {%  for stay_in in form.fields.stay_in.queryset %}  

              <option value="{{ stay_in.pk }}">{{ stay_in.title }}</option>

          {% endfor %}      

       </select>         
    </label>     
                                                       
   
      <label style="width:150px;" >Количество комнат                 

       <select  name="number_rooms" class="costom-select" >    

       <option value="" >Не выбрано</option>          

          {%  for number_rooms in form.fields.number_rooms.queryset %}  

              <option value="{{ number_rooms.pk }}">{{ number_rooms.title }}</option>

          {% endfor %}    

       </select>        
    </label> 

    </div>

    <div class="form-group">

    <label style="width:150px;" >Площадь комнаты м<sup><small>2</small></sup>                                     

       <input type="text" class="form-control"  name="total_area" >

    </label>                                                                    
   
      <label style="width:150px;" >Общая площадь квартиры  м<sup><small>2</small></sup>                             
   
       <input type="text" class="form-control" name="size_room" >                           

      </label> 



     </div>

     <div class="form-group">  


      <label style="width:150px;">Этаж                                    
          <input type="text" class="form-control" name="floor" > 
      </label>   

      <label style="width:150px;">Этажность                                    
          <input type="text" class="form-control" name="storey" > 
      </label>       
                                                     
     </div> 
        
     
     <div class="form-group">   

                                                         
      <label style="width:170px;">Лоджия (количество)                         

         <div class="btn-group " data-toggle="buttons" >
            <label class="btn btn-default">             
                <input type="radio"  name="loggia_number" value="" >0    
            </label> 
  	        {%  for loggia_number in form.fields.loggia_number.queryset %}
  	        <label class="btn btn-default">  
  	          <input type="radio" name="loggia_number" value="{{ loggia_number.pk }}" >
  	          {{ loggia_number.title }}  
  	         </label>  
  		    {% endfor %}         
         </div>  

      </label>                          
                                                           
   
      <label style="width:170px;" >Балкон (количество)                           

  	    <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default">             
                <input type="radio"  name="balcony_number" value="" >0    
            </label>       
  	        {%  for balcony_number in form.fields.balcony_number.queryset %}   
  	        <label class="btn btn-default">                            
  	          <input   type="radio" name="balcony_number" value="{{ balcony_number.pk }}"  >
  	          {{ balcony_number.title }}
  	         </label>  
  		    {% endfor %}      
          </div>    

      </label>             

     </div>


      <div class="form-group">   


      <label style="width:150px;">Окна                                                                          

       <select  name="output_window" class="costom-select"  > 

          <option value="" >Не выбрано</option>               

          {%  for output_window in form.fields.output_window.queryset %}  

              <option value="{{ output_window.pk }}">{{ output_window.title }}</option>

          {% endfor %}    

       </select>
      </label> 


      <label style="width:150px;" >Ремонт                  

       <select   name="pepairs" class="costom-select" >     

          <option value="" >Не выбрано</option>               

          {%  for pepairs in form.fields.pepairs.queryset %}  

              <option value="{{ pepairs.pk }}">{{ pepairs.title }}</option>

          {% endfor %}    

       </select> 
      </label>    


      <label style="width:150px;">Санузел                 

       <select  name="toilet" class="costom-select" >  

           <option value="" >Не выбрано</option>            

          {%  for toilet in form.fields.toilet.queryset %}  

              <option value="{{ toilet.pk }}">{{ toilet.title }}</option>

          {% endfor %}    

       </select>
      </label> 


      </div>

      <div class="form-group">


      <label style="width:150px;">Наличие мебели                           

       <select name="presence_furniture" class="costom-select" >   

          <option value="" >Не выбрано</option>                     

          {%  for presence_furniture in form.fields.presence_furniture.queryset %}  

              <option value="{{ presence_furniture.pk }}">
              {{ presence_furniture.title }}</option>

          {% endfor %}         

       </select>   
      </label>  
       
   
      <label style="width:150px;"> Бытовая техника                           

       <select name="appliances" class="multi_select_b" multiple="true"  >              

          {%  for appliances in form.fields.appliances.queryset %}  

              <option value="{{ appliances.pk }}">
              {{ appliances.title }}</option>

          {% endfor %}           

       </select>
      </label>  

       
    </div>


    <div class="form-group">                                                          
   
      <label style="width:250px;">Дополнительные сведения</label>                                        
   
       <textarea  class="form-control" name="descriptions" ></textarea>      

    </div>


    <div class="form-group">                                                                              
      
      <input style="display:none;" type="file" class="form-control" id="file-input" multiple > 

      <input type="button"   id="bth-file" class="btn btn-primary"  value="Загрузить фото!" >

      <strong>Допустимое количество фото -  5!</strong>

    </div> 

    <div  id="canvas_list"></div>    



    <h3>Условия сделки</h3>   


    <div class="form-group">                                                        
   
     <label style="width:150px;">Цена                           
   
       <input type="text" class="form-control" name="price"  > 

     </label>   


                                                      
      <label style="width:150px;">Торг                        

       <input type="checkbox"  name="bargain" >

     </label>

     <label style="width:150px;" >Залог                               
   
       <input type="text" class="form-control" name="deposit"  >   

     </label>           

    </div>  
             
<!-- кнопка + инфо  -->
<div class="form-group">                           

  <div class="row">     

      <div class="col-lg-2">

       <input  class="btn btn-primary" type="submit" value="Добавить!"  > 

      </div>   

      <div class="col-lg-8">
          <div   class="progress">         
          
                <div id="progress-bar"  class="progress-bar"  
                    aria-valuemin="0" 
                    aria-valuemax="100" 
                    style="width:0%;

                ">
                  <span id="procent-bar" > </span>
                </div>

          </div>
      </div> 
    
  </div>

  <div class="row">

  <div class="col-lg-12">      

      <div style="display:none;" id="alert-error-form" class="alert alert-danger alert-dismissible fade in" role="alert" >
          <span id="error-text-empty" > </span><br>  
          <span id="error-text-images" > </span><br>
          <span id="error-text-Pattern" > </span><br>  
      </div>

     </div>
</div>          


</div> 
<!-- кнопка + инфо  -->

</span>





  </form>  

  </div>

</div>


<style type="text/css">
  
	label {   
	    
	    text-align:center;

	}    

	a>label {  
	    text-align:left;  
	}   


.multiselect-container>li>a>label{

  margin:0;
  height:100%;
  cursor:pointer;
  font-weight:400;
  padding:3px 20px 3px 25px; 
  white-space: normal;


}    


</style>


{% endblock %}     