<!DOCTYPE html>
<html lang="en">
<head>    
	<meta charset="UTF-8">

	<title>«Собственник»</title>    

   <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/png" >          

   <script   src="/static/js/jquery-2.1.1.js" ></script>
   <script   src="/static/js/bootstrap.min.js"></script>
   <script   src="/static/js/jquery-ui.min.js" ></script>
   <script   src="/static/js/jquery.magnific-popup.js" ></script>
   <script   src="/static/js/nunjucks.js"></script>
   <script   src="/static/js/ajaxForm.js"></script>
   <script   src="/static/js/bootstrap-multiselect.js"></script>
   <script   src="/static/js/appFilterForm.js"></script>
   <script   src="/static/js/addForm.js"  ></script>
   <script   src="/static/js/regForm.js"></script>
   
   <script   src="/static/js/jquery.getData.js"></script>
   <script   src="/static/js/menu.js"></script> 

   <script     src="/static/js/jquery.tabSlideOut.v1.3.js"></script>  
   <script     src="/static/js/consultation.js"></script>   

   <script   src="/static/js/validatioons.js"></script>
   <script   src="/static/js/validatioons_reg.js"></script>  

   <link async  rel="stylesheet" href="/static/css/bootstrap.css">
   <link async  rel="stylesheet" href="/static/css/magnific-popup.css">
   <link async  rel="stylesheet" href="/static/css/bootstrap-multiselect.css">
   <link async  rel="stylesheet" href="/static/css/custom-filter.css">
   <link async  rel="stylesheet" href="/static/css/fileAppi.css">
   <link async  rel="stylesheet" href="/static/css/add-list.css">
   <link async  rel="stylesheet" href="/static/css/content_typography.css"> 

<script type="text/javascript"> 

(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter43899304 = new Ya.Metrika({ id:43899304, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); 


</script> 


  <style type="text/css">

     body {

      background-color:#D9D9D9;
      /*background-image:url('/static/images/header.jpg');*/
      background-attachment: fixed;
      margin-bottom:70px;

     }

   </style>

  <script>

   $(document).ready(function(){


      $('.jumbotron-img-mini2').on('mouseenter',function(){

        // $(this).hide(3000);

        $(this).css({"opacity":"1","border":"red solid 0px"});


      });

      $('.jumbotron-img-mini2').on('mouseleave',function(){

        $(this).css({"opacity":"0.7","border":"solid  #fff 3px"});
        // $(this).hide(3000);

      });


   });


  </script>


	<!-- Added by rr32btg -->
	 <script>
	 	// функция скролла до определенного элемента
		// где id - строка с id элемента до которого надо доскроллить
	 	function scrollToFunc(id){
			var id = id || "";
			//проверяем что есть jQuery и что существует элемент до которого скроллить
	 		if(typeof jQuery !== "function") return;
			if(typeof jQuery("#"+id) === "undefined") return;
			var scrollTo = jQuery("#"+id).offset().top;

			//костыль для отступов от навбара
			if(id === "arenda"){
				scrollTo = jQuery("#"+id).offset().top - 100;
			}
	 		jQuery('html,body').animate({scrollTop: scrollTo},'slow');
	 	}
	 </script>

	 <style media="screen">
	 	.shadow-hover{
			min-width: 100%;
			min-height: 100%;
			display: inline-block;
			border-radius: 25px;

	 		background: none;
			transition: all 1s;

			color: rgba(255, 255, 255, 0); !important;

	 	}
		.shadow-hover:hover, .shadow-hover:active, .shadow-hover:focus{
			color: #fff;
			/*background: rgba(0, 0, 0, 0.5);*/
      background: rgba(68, 123, 204, 0.5);
		}

		.shadow-hover h1 {
			font-size: 63px;
		}
	 </style>

	 <!-- /Added by rr32btg -->

</head>
<body>          


{{ Сonsultant_html  }}      

{{  Lawyer_html }}                  


<!-- модаль регистрации -->{{ modal_reg }}<!-- /.modal -->

<!-- модаль регистрации -->{{ modal_mortgage }}<!-- /.modal -->    



<!-- модаль регистрации -->



<!-- Верхнее меню -->
<div style="background-color: rgba(63,62,60,0.9);height:80px;"  class="navbar navbar-inverse navbar-fixed-top" role="navigation">

  <div class="container">

    <div class="row">

        <div class="col-lg-12 ">


          <div style="margin-top:-10px;margin-left:-70px;"  class="navbar-header">


              <a class="navbar-brand" href="/">

                <img  width="250" height="50" src="/static/images/logo.png" />   

              </a>

          </div>


          <ul class="nav navbar-nav">
            <li><a href="/realt/filter/?type_transaction=Rent"><font color="#fff" size="5" >Аренда</font></a></li>
            <li><a href="/realt/filter/?type_transaction=Sale">
               <font color="#fff" size="5" >Продажа</font></a>
            </li>
            <li><a href="/blog/"><font color="#fff" size="5" >Информационный портал</font></a></li>

          </ul>




          <div class="navbar-right" id="user_menu" >

              {% if  user_info == None or user_info.is_active == False %}

                <a href="/realt/addadvt/" class="btn btn-default navbar-btn ">Подать объявление</a>

                <button type="button"  data-toggle="modal" data-target="#reg-form" class="btn btn-default navbar-btn ">
                 Личный кабинет
                </button>

               {% else %}

                  <ul class="nav navbar-nav">
                   <li class="dropdown">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                       {{ user_info.email  }}

                    <span class="caret"></span></a>  
                     <ul class="dropdown-menu">

                    {% if user_info.type_user == 'UserIndividual' %}
                      <li><a href="/realt/mylist/">Мои объявления </a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="/realt/addadvt/" class="active">Подать объявление</a></li>
                      <li role="separator" class="divider"></li>
                    {% endif %}
                      <!-- <li><a href="/" class="active">Оповищения <span class="badge">42</span></a></li> -->
    <!--                    <li role="separator" class="divider"></li>
                      <li><a href="/" class="active">Баланс <span class="badge">0</span></a></li> -->

                      <li><a href="/user/addinfo/">Контактные данные</a></li>       
                       <li role="separator" class="divider"></li>
<!-- 
                      <li><a href="/tariffs/mytariffs/">Оплаченные Тарифы </a></li> 
                      <li role="separator" class="divider"></li>   
                      <li><a href="/tariffs/getmylog/">История покупок</a></li>
                       <li role="separator" class="divider"></li> -->
                       

                      <li><a href="/user/layout/">Выйти</a></li>

                     </ul>
                   </li>
                  </ul>

               {% endif %}

          </div>


       </div>

      </div>

    </div>



</div>
<!-- Верхнее меню -->


{% block header  %}  {% endblock %}


<div class="container-fluid">
<!--   <div class="row feed">    -->

      {% block content  %}

      {% endblock %}

<!--   </div>  -->
</div>



<!-- подвал -->
<div  style="background-color: rgba(63,62,60,0.9);border-top: none;"  class="navbar navbar-default navbar-fixed-bottom">

    <div class="container">


    <div class="row-feed">  

        <div class="col-lg-12">        


          <ul class="nav navbar-nav podval">     

            <li><a href="/blog/list/7/cat/17/article/27/"><font color="#fff" size="5" >Условия рекламы</font></a></li>
            <li><a href="/pages/get/1/"><font color="#fff" size="5" >О нас</font></a></li>
            
            <li></li>

            <li><a onclick="return false"  href="#" data-toggle="modal" data-target="#mortgage-form" > 
            <font color="#fff" size="5" >Расчет ипотеки</font></a>
            </li>

            <li>    
                <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,gplus" data-counter=""></div> 
            </li>

            <noscript>
				<div>
				<img src="https://mc.yandex.ru/watch/43899304" style="position:absolute; left:-9999px;" alt="" />

				</div>
            </noscript> 
 
          </ul>


    </div>



    </div>

</div>
<!-- подвал -->   

<script type="text/javascript" src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js" charset="utf-8"></script>
<script type="text/javascript" src="//yastatic.net/share2/share.js" charset="utf-8"></script>

<style type="text/css">

 .podval {
    width: 100%;
    text-align: center;

  }

 .podval > li {
      float: none;
      display: inline-block;
    }

  a > font:hover {
      color: rgb(137, 217, 226);
    }


</style>    


    


</body>
</html>
