{% extends 'base.html'  %}


{% block header  %}

<div style="margin-top:80px;background:#787878;padding:30px;" class="container-fluid">

  <form  id="form-filter" action="" class="form">

	<div class="row-feed">

		<div class="col-lg-12">

		        <div class="form-group">


		             <div class="row">

		                <div  class="col-lg-5">

			                <label style="margin-bottom:0;" >Тип сделки</label>
				            <div class="btn-toolbar" data-toggle="buttons" >

				                {% if type_transaction == 'Rent'  %}

							        <label style="width:45%" class="btn btn-default active button-head-container">
							        	<input type="radio" name="type_transaction" value="Rent" checked >
							        	<span class="button-head" >Аренда</span>
							        </label>

						        {%  else %}
	                    <label style="width:45%;" class="btn btn-default col-lg5 button-head-container">
							        	<input type="radio" name="type_transaction" value="Rent" >
							        	<span class="button-head" >Аренда</span>
							        </label>

						        {% endif  %}

						        {% if type_transaction == 'Sale'  %}

						        <label style="width:45%" class="btn btn-default  active button-head-container" >
						        	<input type="radio" name="type_transaction" value="Sale" checked >
						        	<span class="button-head" >Продажа</span>
						        </label>

						        {%  else %}
							        <label style="width:45%" class="btn btn-default button-head-container" >
							        	<input type="radio" name="type_transaction" value="Sale">
							        	<span class="button-head" >Продажа</span>  
							        </label>

						       {% endif  %}



					        </div>
				        </div>

		               <div  class="col-lg-7">          

			               <label style="margin-bottom:0;"  >Выберите категорию</label>
					       <div class="btn-toolbar" data-toggle="buttons" >

						        <label style="width:30%" class="btn btn-default active group_filter button-head-container" data-value="1" >
						        	<input type="radio"  > <span class="button-head" >Жилая недвижимость</span>
						        </label>

						        <label  style="width:33%;"   
						        class="btn btn-default group_filter button-head-container" data-value="2" >
						        	<input type="radio"   > 
						        	<span   class="button-head" >Коммерческая недвижимость</span>
						        </label>

						        <label style="width:30%" class="btn btn-default group_filter button-head-container" data-value="3" >
						        	<input type="radio"   > <span class="button-head" >Земельные участки</span>
						        </label>

					        </div>

				       </div>


				    </div>

		           </div>


		           <div class="row">


		            <div class="col-lg-3">
		                <label >Тип недвижимости

          					     <select  id="swich_filter"  name="type_object" >
                              <option value="">Не выбрано</option>
          					     	    <option value="Room">Комната</option>
          						        <option value="Apartment">Квартира</option>
          						        <option value="HouseDachaCottage">Дом. Дача. Коттедж</option>

          					     </select>

		                </label>


		                 <label style="width:230px;" >Микрорайон города     

		                   <select multiple class="costom-select-area" name="microdistrict[]" >

  		                   {% for micro_distric in micro_district  %}

  		                      <option value="{{ micro_distric.pk }}">{{ micro_distric.title }}</option>

  		                   {%  endfor  %}

		                   </select>

		                </label>

		            </div>

                <script type="text/javascript">
                  jQuery(document).ready(function(){
                    setTimeout(function(){
                      var width = jQuery(".btn-toolbar").first().find("label").first().width();
                      var height = jQuery(".btn-toolbar").first().find("label").first().height();
                      jQuery("#swich_filter").next().find("button").width(width)
                      jQuery("#swich_filter").parent().next().find("button").width(width)

                    }, 250);
                  });
                </script>


		            <div class="col-lg-4">

			            <div class="form-inline" >

			                <label style="margin-bottom: 0;"  >Площадь объекта, кв м (з/у сотки)</label><br>

			                <label>От
			                    <input  style="width:130px;height:25px" type="text" class="form-control" 
			                    name="total_area_from" >
			                </label>

			                <label >До
			                    <input style="width:130px;height:25px" type="text" class="form-control" 
			                    name="total_area_to" >  
			                </label>

			            </div>


		                <div class="form-inline" >

		                    <label style="margin-bottom: 0;" >Цена,руб</label><br>
			                <label>От
			                    <input  style="width:130px;height:25px" type="text" class="form-control" 
			                    name="price_from" >
			                </label>

			                <label>До  
			                    <input style="width:130px;height:25px" type="text" class="form-control" 
			                    name="price_to" >
			                </label>

			            </div>


		           	</div>

		           	<div class="col-lg-4">

		           	   <button style="width:330px;height:50px;margin-top:40px;"  class="btn btn-default center-block"  >Начать поиск</button>

		           	</div>



		           </div>


		</div>

	</div>


    <div class="row-feed">

		<div class="col-lg-12">
		  <a id="toggle-add-filter" href="#">Внести больше параметров</a>
		</div>

	</div>


	<div class="row-feed">

        <div class="col-lg-12">

        <div  style="display:none;" id="add_param">


        </div>

      </div>

	</div>

   </form>

</div>

{% endblock %}


{% block content  %}

<div id="res_filter"></div>

<div id="pagination"> </div>


<div id="advertising_image" style="display:none;margin-top:30px;" class="container">

	<div class="row">  
        
        {% if advertising_Left %}
        <a href="{{ advertising_Left.url }}">
	        <div class="col-lg-6"> <img width="550" height="100" src="/media/{{ advertising_Left.image }}"  > </div>
	    </a>      
	    {% endif %}  
        
        {% if advertising_right %}
        <a href="{{ advertising_right.url }}">   
	        <div class="col-lg-6"> <img width="550" height="100" src="/media/{{ advertising_right.image }}" >  </div>
	    </a>        
		{% endif %}

	</div>

</div>


<script type="text/javascript">

$(document).ready(function(){


    var $swich_filter = $("#swich_filter");  
    $swich_filter.submit();

    showadvertising_image = function(){  $('#advertising_image').show();  }

    setTimeout(showadvertising_image,3000);  


});


</script>

   

{% endblock  %}
