{% extends 'base.html'  %}



{% block header  %}     

<div class="jumbotron"  style="height:100vh;   
   background-image:url('/media/{{ home_image.header_image }}' );background-size:cover;" >

      <div align="center" class="caption"  
      style="margin-left:10%; margin-right:10%;                 
      padding:15px 15px; background:rgba(0,0,0,0.4);margin-top:15%;" >

        <h1 style="color:#fff;" >Мы поможем Вам найти</h1>
        <h1 style="color:#fff;" >Недвижимость без посредников</h1>

      <button style="background:rgba(0,0,0,0.4);width: 30%;" 

        onclick="scrollToFunc('arenda')" class="btn btn-default">

        <span style="color:#fff;font-size: 23px;font-weight: bold;">Начать поиск</span>

      </button>  



      </div>

</div>

{% endblock %}


{% block content  %}

<div class="container-fluid" style="margin-bottom:50px;margin-top:100px;">



    <div class="row">



      <div class="col-lg-6">

      <a href="/realt/filter/?type_transaction=Rent">
        <div id="arenda" style="height:300px;
           border-radius:25px;background-image:url('/media/{{ home_image.Rent_image }}' );background-size:cover;">

            <div align="center" class="caption shadow-hover">

              <br><br><br><br>
              <h1 style="color:#fff">Аренда</h1>

            </div>

        </div>
      </a>

      </div>


      <div class="col-lg-6">

      <a href="/realt/filter/?type_transaction=Sale">
        <div  style="height:300px;
           border-radius:25px;background-image:url('/media/{{ home_image.Rent_Sale }}' );background-size:cover;" >

            <div align="center" class="caption shadow-hover"  >
              
              <br><br><br><br>
              <h1 style="color:#fff;" >Продажа</h1>

            </div>

        </div>

      </div>
     </a> 

    </div>  


  <div class="row" style="margin-top:30px;" >


      <div class="col-lg-6">

      <a href="/blog/">  
        <div style="height:300px; 
         border-radius:25px;background-image:url('/media/{{ home_image.Rent_info }}' );background-size:cover;">

            <div align="center" class="caption shadow-hover" >
              
              <br><br><br><br>
              <h1 style="color:#fff;" >Информационный портал</h1>

            </div>  

        </div>
      </a>    

      </div>


      <div class="col-lg-6">       


      <a  href="/blog/list/5/"  >     
        <div  style="height:300px;   
           border-radius:25px;background-image:url('/media/{{ home_image.Rent_ipoteka }}' );background-size:cover;" >

            <div align="center" class="caption shadow-hover"  >
             
              <br><br><br><br>
              <h1 style="color:#fff;" >Подбор ипотеки</h1>

            </div>

        </div>
      </a>  
      </div>

</div>

 </div>


<style type="text/css">

body {

	background-color:#767070;
}



</style>

{% endblock  %}
