{% extends 'base.html'  %}


{% block content  %}  


<div  style="margin-top:120px;" >           


        <div id="res_mylist"></div>

        <div id="pagination"> </div>  


</div>


<script type="text/javascript">

$(document).ready(function(){


      function mylist(event,data){    

          if(data.queryString=='undefined'){   data.queryString  = '';    }


          $.ajax({
              //beforeSend: function(){ },
              //complete: function(){  },
              'dataType':'JSON',
              'type':'GET',
              'data':data.queryString,     
               "url":'/realt/mylist/getjson/',     
                          "success":function(response){

                   var templates = {"grid":"user_grid.html","pagination":"pagination.html"};
                  // келбек функция срабатывающая по соботии ответа аякс
                   nunjucks.configure('/static/templates',{ watch:true });

                   var resTable = nunjucks.render(templates.grid,{"items":response.items});
                   $('#res_mylist').html(resTable);  

                   // постраничная навигация

                   // пять строниц с левой стороны
                    var LeftBarPage = [];
                    for(var i1=1;(parseInt(response.ThisPage)-i1)>0;i1++) {
                              LeftBarPage.push((parseInt(response.ThisPage)-i1));
                              if(i1==5) { break; }
                    } LeftBarPage.reverse();

                    // пять строниц с правой стороны
                    var RightBarPage = [];
                    for(var i=1;(parseInt(response.ThisPage)+i)<=parseInt(response.CountPages);i++) {
                       RightBarPage.push((parseInt(response.ThisPage)+i));
                        if(i==5) { break; }
                    }

                    var $paginationElement = $('#pagination');
                    var resPagination = nunjucks.render(templates.pagination,{
                              "CountPages":parseInt(response.CountPages),
                              "ShowCountRows":parseInt(response.ShowCountRows),
                              "ThisPage":parseInt(response.ThisPage),
                              "RightBarPage": RightBarPage,
                              "LeftBarPage":LeftBarPage
                      });
                    $paginationElement.html(resPagination);
                      // постраничная навигация

                }
          }); 

       }// 


      $(window).on('getMylist',mylist);                                

      $(window).trigger('getMylist',{queryString:''});          
             

});


</script>


{% endblock  %}   
