{% extends "admin/base_site.html" %}

{% block content %}

    <form action="" method="post">

        {% csrf_token %}
        <input type="hidden" name="action" value="make_off_published">
        <input type="hidden" name="do_action" value="yes">

        <div>    
            {{ form.reasons_blocking }}          
            <input type="submit" class="default" style="float: none" value="Заблокировать!">
            {{ form.reasons_blocking.errors }}
        </div>  

        <h2>Товары для перемещения</h2>

        <ul>
            {% for object in objects %}
                <li>  
                    <a href="{{ object.pk }}/">{{ object.get_val_type_object }}</a>   
                    <input type="hidden" name="_selected_action" value="{{ object.pk }}">
                </li>
            {% endfor %}
        </ul>

    </form>

{% endblock %}