<!-- модаль регистрации -->            
<div    id="mortgage-form" class="modal fade">           
  <div  class="modal-dialog">
    <div style="background-color:#ccc;" class="modal-content">
      <div style="background-color:#000;" class="modal-header">
        <button style="color:#89D9E2;" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">   
            <img  width="250" height="50" src="/static/images/logo.png">         
            <img  style="display:none;"  id="loader"  width="50"  height="50" src="/static/images/loader.gif">
        </h4>
      </div>

      <div class="modal-body">  

      <h2>Расчет ипотеки</h2>         


      <!--  форма входа   -->     
      <form  id="ipoteka"  style="padding:0px 40px 40px 40px;" class="form"  >     

          <div class="form-group">      
            <label>Цена объекта</label>   
            <input type="text" class="form-control"  id="price_object" required pattern="[0-9]{0,}" >
          </div>

          <div class="form-group">          
            <label>Первоначальный взнос</label>        
            <input type="text" class="form-control" id="initial_deposit"  pattern="[0-9]{0,}"  >
          </div>

          <div class="form-group">          
            <label>Количество месяцев</label>        
            <input type="text" class="form-control" id="number_months" required pattern="[0-9]{1,3}"  >         
          </div>

          <div class="form-group">          
            <label>Процент ставки</label>        
            <input type="text" class="form-control" id="interest_rate" required pattern="\d+(\.\d{1})?"  >
          </div>


          <div class="form-group">        
              <input  class="btn btn-primary" type="submit" value="Рассчитать!"  >
          </div>      

          <div style="display:none;" id="alert-payment" class="alert alert-success alert-dismissible fade in" role="alert" >
             Ежемесячный платеж : <span id="aler-payment-text" > </span><br>
          </div>           

      </form> 
      <!--  форма входа   -->        



     
     </div>


      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Закрыть</button>

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script type="text/javascript">

$(document).ready(function(){

  

$('#ipoteka').on('submit',function(){   

  function annuity_payment(interest_rate,number_months,credit_amount){  
  
    var i =   (interest_rate/100)/12;
    var n = number_months;   
    var summ = credit_amount;  
    var from_i = i * Math.pow((1+i),n);
    var to_i = (Math.pow((1+i),n))-1;
    var result = summ*(from_i/to_i);

    var split_array = result.toString().split('.');

    return split_array[0]+'.'+split_array[1].substr(0,2);      

 }  



    $price_object =    $("#price_object").val();
    $initial_deposit =  $("#initial_deposit").val();
    $number_months =  $("#number_months").val();
    $interest_rate =    $("#interest_rate").val();   

    $('#alert-payment').show()
    $('#aler-payment-text').text(annuity_payment($interest_rate,$number_months,($price_object-$initial_deposit)))


    console.log(annuity_payment($interest_rate,$number_months,($price_object-$initial_deposit))); 



    return false;

 });








});


</script>