<!-- форма «Юридическая помощь»-->
<div  style="padding:30px;  width:500px; background-color:#ccc;z-index:11000;" id="slide-out-lawyer">

<div class="handle2"></div>



        <form  id="form-lawyer"  class="form" method='GET' action="/consultation/" >  

         <input type="hidden"  name="type_consultants" value="Lawyer" > 

         <div class="form-group">           

             Перейти в раздел <a href="/blog/list/4/">"Юридические вопросы"</a><br>  
                
         </div>

          <div class="form-group">     
            <label >Ф.И.О </label>
              <input type="text" class="form-control" name="fio" required >  

          </div>


          <div class="form-group">
            <label >Адрес электронной почты</label>
              <input type="text" class="form-control" name="email" required >

          </div>


          <div class="form-group">
            <label >Телефон </label>
              <input type="text" class="form-control" name="phone" >

          </div>


          <div class="form-group">   
            <label >Ваш вопрос </label>
              <textarea  class="form-control" name="message" required ></textarea>

          </div>

          <div class="form-group">          
            <input  class="btn btn-primary" type="submit" value="Отправить!"  >
          </div>     


          <div style="display: none;"      
               id="alert-lawyer" class="alert alert-success alert-dismissible fade in" role="alert" >
              <span id="aler-lawyer-text" > </span>     
          </div>  


         </form>   

</div>
<!-- форма «Юридическая помощь»-->