<div  style="padding:30px;  width:500px; background-color:#ccc;z-index:11000;" id="slide-out-consultant" >

<div class="handle"></div>  

 <form id="form-consultant" class="form" method='GET' action="/consultation/">  

         <input type="hidden"  name="type_consultants" value="Сonsultant" >              


          <div class="form-group">
            <label >Ф.И.О </label>
              <input type="text" class="form-control" name="fio" required >  

          </div>


          <div class="form-group">                                  
            <label >Адрес электронной почты</label>
              <input type="text" class="form-control" name="email"  required >

          </div>


          <div class="form-group">
            <label >Телефон </label>
              <input type="text" class="form-control" name="phone" >

          </div>


          <div class="form-group">
            <label >Ваш вопрос </label>
              <textarea  class="form-control" name="message" required ></textarea>

          </div>


          <div class="form-group">          
            <input  class="btn btn-primary" type="submit" value="Отправить!"  >
          </div>     


          <div style="display: none;"        
          id="alert-consultant" class="alert alert-success alert-dismissible fade in" role="alert" >
              <span id="aler-consultant-text" > </span>     
          </div>      


         </form>  

</div>
