<!DOCTYPE html>
<html lang="en">
<head>    
	<meta charset="UTF-8">     
	<title>Здравствуйте! Вам адресован следующий вопрос.</title>     
</head>
<body>  

{%  if type_consultants == 'Lawyer' %}                     

<h3>Здравствуйте! Вам адресован следующий юридический вопрос:</h3>  

{%  else %}

<h3>Здравствуйте! Вам адресован следующий вопрос:</h3>  

{%  endif %}    


<p>  

	От: {{ fio }} <br>

	Контактная информация:<br>  

	Электронная почта: {{ email }}<br>

	Телефон: {{ phone }}<br>

</p>  


<h2>Запрашиваемый вопрос:</h2>  

<p>{{ message }}</p>  

                
</body>
</html>