{% extends 'base.html'  %}


{% block header  %}

{% endblock %}


{% block content  %}


<div style="margin-top:100px;" class="container">


<div class="row" >    

   <div class="col-lg-12">     

	<table  class="table table-bordered table-striped table-hover" >


		<tr>
		     <th>Названия тарифа</th>
		     <th>Срок действия</th>
		     <th>Цена</th>
		     <th>Скидка по акции</th>
		</tr>

		{%  for tariff in tariffs %}

		<tr>
			<td>{{ tariff.get_name_tariff_type }}</td>
			<td>{{ tariff.get_name_validity_date }}</td>
			<td>{{ tariff.price }} руб</td>
			<td>
               {% if tariff.shares.discount %}
			   -{{ tariff.shares.discount }} %
			   {% else  %}
			     ----------  
			   {% endif %}

			</td>
		</tr>

		{%  endfor  %}



	</table>    



	<h1>Количество тарифов - {{ count_tariffs }}  Сумма к оплате - {{ out_summ }} pуб. 00 коп.</h1>


	<form  method="POST" action="https://merchant.roboxchange.com/Index.aspx"  >                                        

        
        <input type="hidden" name="MrchLogin" value="{{ mrh_login }}" >
	    <input type="hidden" name="OutSum" value="{{ out_summ }}" >
	    <input type="hidden" name="InvId" value="{{ inv_id }}" >
	    <input type="hidden" name="Desc" value="{{ inv_desc }}">
	    <input type="hidden" name="SignatureValue" value="{{ crc }}" >

	    <input type="hidden" name="Shp_item" value="{{ shp_item }}" >            
	    <input type="hidden" name="Shp_userid" value="{{ Shp_user_id }}" >

	    <input type="hidden" name="IncCurrLabel" value="{{ in_curr }}" > 
	    <input type="hidden" name="Culture"   value="{{ culture }}" >                  

		<input type="submit"  class="btn btn-default"  value="Оплатить!" >  


	</form>                                                  

</div>


</div>


<style type="text/css">

.menu_blog > li > a:hover,
.menu_blog> li > a:focus {
  text-decoration: none;
  background-color: #48B2BE;
  color:#FFFFFF;
}

body {

	background-color:#767070;
}

a,h1,h3,h3,h4 {  color:#FFFFFF;  }



</style>


{% endblock %}
