{% extends 'base.html'  %}


{% block header  %}                    

{% endblock %}             


{% block content  %}


<div style="margin-top:100px;"  class="container-fluid" >  


	<div   class="row">  


	      <div  style="margin-left:20px;" class="col-lg-3">  


	      <h3 align="centr" style="text-align: center;font-weight: bold;" >Выбери страницу : </h3> 

			
				<ul class="nav nav-bar menu_blog" >  

					{% for page in pages_list %}

					<li class="blog-menu"  style="border:solid #47BCC5 1px; margin-bottom: 20px;" >
						<a   style="text-align:center;padding:1px 1px;" href="/pages/get/{{ page.pk }}/">
							<h3 style="margin:7px 0">{{ page.title }}</h3>
						</a>
					</li>

					{% endfor %}      

				</ul>

			    <style media="screen">
					ul.menu_blog li a{
						transition: all .5s;  
					}
				</style>

		 </div>


	   <div class="col-lg-8"  >
               

            <div class="row">   


			</div> 

			<div class="row"> 
			     <div class="col-lg-12">	      
            
                
               

                    {% autoescape off %} {{ curent_page.descriptions }} {% endautoescape %}

                

                </div>

            </div>


		</div>       



		</div>  


		

    </div>

</div>



<style type="text/css">

.menu_blog > li > a:hover,
.menu_blog> li > a:focus {       
  text-decoration: none;
  background-color: #48B2BE;
  color:#FFFFFF;
}

body {

	background-color:#767070;  
}    

a,h1,h2,h3,h4 {  color:#FFFFFF;  }

h4 >  a:hover {  color:#FFFFFF;    } 
h4 >  a:focus {  color:#FFFFFF;    }

/* p {  border: #fff solid 1px;  }  */    


</style>  

 


{% endblock  %}   
